body {
  overflow-y: auto;
}

body.modal-active .global-barrier {
  z-index: 1000;
}

body.mobile-menu-active .global-holder {
  -moz-transform: translateX($size-main-menu-width);
  -ms-transform: translateX($size-main-menu-width);
  -webkit-transform: translateX($size-main-menu-width);
  transform: translateX($size-main-menu-width);
}

.global-holder {
  background: $color-base-background;
  transition: transform .5s;
  transform: translateX(0);
}
