#main-menu {
  display: block;
  position: fixed;
  width: $size-main-menu-width;
  height: 100%;
  top: 0;
  left: 0;
  background: $color-main-menu-bg;
  overflow-y: auto;
  transform: translateX(-100%);
  transition: transform $time-std-transition;
  z-index: 2;
  // border-top: 1px solid $color-grey-1000;

  @at-root {
    .mobile-menu-active #{&} {
      transform: translateX(0);
    }
  }

  &.submenu-active {
    overflow: hidden;
  }

  @include susy-breakpoint($screen-big, 16) {
    transform: translateX(0);
    position: relative;
    top: inherit;
    left: inherit;
    width: auto;
    height: $size-components-height + 2px;
    overflow: visible;
    border-bottom: 1px solid $color-grey-200;
  }
}

/* main-menu-mobile */
.main-menu-mobile {
  background: $color-grey-900;

  li {
    display: block;
    position: relative;
    border-bottom: 1px solid tint($color-grey-900, 10%);

    &:last-child {
      border-bottom: 0;
    }
  }

  a {
    display: block;
    position: relative;
    font-size: 16px;
    line-height: 22px;
    min-height: $size-components-height;
    padding: $size-components-padding (($size-components-height - 22px) / 2);
    color: $color-grey-0;

    &:active,
    &:hover {
      background: shade($color-grey-800, 5%);
    }
  }

  .fa {
    margin-right: $size-components-padding;
  }

  @include susy-breakpoint($screen-big, 16){
    display: none;
  }

}

/* menu-list */
.menu-list {

  &__link {
    display: block;
    position: relative;
    font-size: 16px;
    line-height: 22px;
    height: 50px;
    min-height: $size-components-height;
    padding: $size-components-padding (($size-components-height - 22px) / 2);
    color: $color-grey-900;

    &:active,
    &:hover {
      background: shade($color-main-menu-bg, 5%);
    }
  }

  &__item {
    display: block;
    position: relative;
    border-top: 1px solid tint($color-base-darken, 10%);
    border-bottom: 1px solid shade($color-base-darken, 10%);

    &:last-child {
      border-bottom: 0;
    }
  }

  .bt-submenu-back {

    > a {
      background: $color-grey-800;
      color: $color-grey-0;
      padding-left: ($size-components-height * 0.75);

      &:after {
        content: "\f0a8";
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        width: ($size-components-height * 0.75);
        height: $size-components-height;
        margin-top: -($size-components-height / 2);
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 14px;
        line-height: $size-components-height;
        text-align: center;
      }

    }
  }

  .fa {
    margin-right: $size-components-padding;
  }

  @include susy-breakpoint($screen-big, 16) {
    text-align: center;

    &__item {
      display: inline-block;
      border: 0;

      &.bt-submenu-back {
        display: none;
      }
    }

    &__link {
      color: $color-grey-1000;
      text-transform: uppercase;
      font-weight: 700;

      &:hover {
        color: $color-grey-1000;
        background: shade($color-main-menu-bg, 5%);
      }

    }

  }

}

.submenu-list {
  display: block;
  position: fixed;
  z-index: 10;
  width: $size-main-menu-width;
  height: 100%;
  top: 0;
  left: 0;
  background: shade($color-main-menu-bg, 5%);
  overflow-y: auto;
  transform: translateX(-100%);
  transition: transform $time-std-transition;

  li {
    display: block;
    border-top: 1px solid tint($color-main-menu-bg, 5%);
    border-bottom: 1px solid shade($color-main-menu-bg, 15%);

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  a {
    display: block;
    position: relative;
    font-size: 16px;
    line-height: 22px;
    height: 50px;
    min-height: $size-components-height;
    padding: $size-components-padding (($size-components-height - 22px) / 2);

    color: $color-grey-900;
    background: shade($color-main-menu-bg, 5%);

    &:hover {
      background: shade($color-main-menu-bg, 5%);
    }
  }

  &.active {
    transform: translateX(0);
  }

  @include susy-breakpoint($screen-big, 16) {
    display: none;
    transform: translateX(0);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: auto;
    min-width: $size-main-menu-width;
    box-shadow: none;
    overflow: visible;

    background: shade($color-main-menu-bg, 5%);
    border-bottom: 1px solid $color-main-menu-border;

    li {
      text-align: left;
    }

    .submenu-list {
      top: 0;
      left: 100%;
      background: shade($color-main-menu-bg, 5%);

      li {
        display: block;
        border-top: 1px solid $color-main-menu-bg;
        border-bottom: 1px solid shade($color-main-menu-bg, 25%);

        &:first-child {
          border-top: none;
        }
      }
    }

  }
}

.submenu {
  > a {
    padding-right: ($size-components-height * 0.75);

    &:after {
      content: "\f0a9";
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      width: ($size-components-height * 0.75);
      height: $size-components-height;
      margin-top: -($size-components-height / 2);
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 14px;
      line-height: $size-components-height;
    }
  }

  &:hover {
    .submenu-list {
      display: block;
    }
  }

  @include susy-breakpoint($screen-big, 16) {
    > a {
      &:after {
        content: "\f078";
      }
    }

    &:hover {
      .submenu-list {
        display: block;
      }

      .bt-submenu-back {
        display: none;
      }
    }

    .submenu {
      > a {
        &:after {
          content: "\f054";
        }
      }
    }

  }
}
