

#main-menu {
  display: block;
  position: fixed;
  z-index: 10;
  width: $size-main-menu-width;
  height: 100%;
  top: 0;
  left: 0;
  background: $color-main-menu-bg;
  overflow-y: auto;
  transform: translateX(-100%);
  transition: transform $time-std-transition;

  @at-root {
    .mobile-menu-active #{&} {
      transform: translateX(0);
    }
  }

  &.submenu-active {
    overflow: hidden;
  }

  &.main-menu--alter {
    height: 60px;
    background: $color-base-darken;
    border: 0;

    .menu-list {
      &__item {
        &:hover {
          background: $color-main-menu-bg;
        }
      }

      &__link {
        font-weight: 700;
        color: $color-grey-1000;

        &:hover {
          color: $color-grey-1000;
          background: shade($color-main-menu-bg, 5%);
        }

        .fa {
          display: none;
        }
      }
    }

    .submenu-list {
      background: $color-main-menu-bg;

      li {
        border-top: 1px solid rgba(255,255,255,0.2);
        border-bottom: 1px solid shade($color-main-menu-bg, 15%);
      }

      a {
        color: $color-grey-1000;

        &:hover {
          background: shade($color-base-darken, 5%);
        }
      }
    }
  }

  @include susy-breakpoint($screen-big, 16) {
    transform: translateX(0);
    position: relative;
    top: inherit;
    left: inherit;
    width: auto;
    height: $size-components-height + 2px;
    overflow: visible;
    border-top: 1px solid $color-grey-1000;
    border-bottom: 1px solid $color-grey-200;
  }
}


.main-menu-mobile {
  background: $color-grey-900;

  li {
    display: block;
    position: relative;
    border-bottom: 1px solid shade($color-pl-3, 10%);

    &:last-child {
      border-bottom: 0;
    }
  }

  a {
    display: block;
    position: relative;
    font-size: 16px;
    line-height: 22px;
    min-height: $size-components-height;
    padding: $size-components-padding (($size-components-height - 22px) / 2);
    color: $color-grey-0;

    &:active,
    &:hover {
      background: shade($color-grey-800, 5%);
    }
  }

  .fa {
    margin-right: $size-components-padding;
  }

  @include susy-breakpoint($screen-big, 16){
    display: none;
  }
}



.menu-list {
  // @extend %clearlist;

  &__link {
    display: block;
    position: relative;
    font-size: 16px;
    line-height: 22px;
    min-height: $size-components-height;
    padding: $size-components-padding (($size-components-height - 22px) / 2);
    color: $color-base-main;

    &:active,
    &:hover {
      background: shade($color-main-menu-bg, 5%);
    }
  }

  &__item {
    display: block;
    position: relative;
    border-top: 1px solid tint($color-base-darken, 10%);
    border-bottom: 1px solid shade($color-base-darken, 10%);

    &:last-child {
      border-bottom: 0;
    }
  }

  .bt-submenu-back {
    > a {
      background: $color-base-main;
      color: $color-grey-1000;
      padding-left: ($size-components-height * 0.75);

      &:after {
        content: "\f0a8";
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        width: ($size-components-height * 0.75);
        height: $size-components-height;
        margin-top: -($size-components-height / 2);
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 14px;
        line-height: $size-components-height;
        text-align: center;
      }
    }
  }

  .fa {
    margin-right: $size-components-padding;
  }

  @include susy-breakpoint($screen-big, 16) {
    text-align: center;

    &__item {
      display: inline-block;
      border: 0;

      &.bt-submenu-back {
        display: none;
      }
    }

    &__link {
      // line-height: $size-components-margin;
      // min-height: 100%;
    }

  }
}

.submenu-list {
  display: block;
  position: fixed;
  z-index: 10;
  width: $size-main-menu-width;
  height: 100%;
  top: 0;
  left: 0;
  background: $color-main-menu-bg;
  overflow-y: auto;
  transform: translateX(-100%);
  transition: transform $time-std-transition;

  li {
    display: block;
    border-top: 1px solid tint($color-main-menu-bg, 5%);
    border-bottom: 1px solid shade($color-main-menu-bg, 15%);

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  a {
    display: block;
    position: relative;
    font-size: 16px;
    line-height: 22px;
    min-height: $size-components-height;
    padding: $size-components-padding (($size-components-height - 22px) / 2);
    color: $color-base-main;

    &:hover {
      background: tint($color-main-menu-bg, 5%);
    }
  }

  &.active {
    transform: translateX(0);
  }

  @include susy-breakpoint($screen-big, 16) {
    display: none;
    transform: translateX(0);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: auto;
    min-width: $size-main-menu-width;
    box-shadow: none;
    overflow: visible;
    background: shade($color-main-menu-bg, 5%);

    li {
      text-align: left;
    }

    .submenu-list {
      top: 0;
      left: 100%;
      background: shade($color-main-menu-bg, 5%);

      li {
        display: block;
        border-top: 1px solid $color-main-menu-bg;
        border-bottom: 1px solid shade($color-main-menu-bg, 25%);

        &:first-child {
          border-top: none;
        }

        a {
          &:hover {
            // background: tint($color-main-menu-bg, 10%);
            background: $color-grey-50;
          }
        }

      }
    }
  }
}

.submenu {
  > a {
    padding-right: ($size-components-height * 0.75);

    &:after {
      content: "\f0a9";
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      width: ($size-components-height * 0.75);
      height: $size-components-height;
      margin-top: -($size-components-height / 2);
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 14px;
      line-height: $size-components-height;
    }
  }

  @include susy-breakpoint($screen-big, 16) {
    &:hover {
      background: shade($color-main-menu-bg, 5%);

      .submenu-list{
        display: block;
      }

      .bt-submenu-back {
        display: none;
      }
    }

    > a {
      &:after {
        content: "\f078";
      }
    }

    .submenu {
      > a {
        &:after {
          content: "\f054";
        }
      }

      &:hover {
        // background: shade($color-main-menu-bg, 5%);
        background: $color-grey-50;
      }
    }
  }
}
