.gen-box {
  display: block;
  width: 100%;
  background: $color-grey-0;
  padding: $size-components-padding;
  border: 1px solid $color-grey-300;
  box-shadow: 0 1px 4px rgba($color-grey-500, 0.2);
  border-radius: 2px;
  clear: both;
  @extend %clearfix;

  @include susy-breakpoint($screen-medium, 12) {
    @include span(full);

    &.vertical-compact {
      padding: (1.5 * $size-components-padding) $size-components-height;
    }
  }

  @include susy-breakpoint($screen-big, 16) {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}

/* card-box */
.card-box {
  position: relative;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  padding: $size-components-padding;
  background: $color-grey-0;
  border-radius: 2px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;

  &.full--card {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }

  @include susy-breakpoint($screen-big, 16) {
    @include span(4 of 16);
  }
}


/* card style color */
.card {
  @include span(3);
  background: $color-grey-0;
  padding: $size-components-padding;
  box-shadow: 0 1px 4px rgba($color-grey-500, 0.2);
  margin-bottom: $size-components-padding;
  border: 1px solid $color-grey-300;
  border-radius: 2px;

  span {
    display: block;
    width: 100%;
    height: 100px;
    border: 1px solid $color-grey-300;
    margin-bottom: $size-components-padding;
  }

  &.card-medium {
    @include span(full);
  }

  @include susy-breakpoint($screen-small, 8) {
    @include span(4 of 8);

    &.card-medium {
      @include span(6 of 8);
    }
  }

  @include susy-breakpoint($screen-medium, 12) {
    @include span(3 of 12);

    &.card-medium {
      @include span(6 of 12);
    }
  }

  @include susy-breakpoint($screen-big, 16) {
    @include span(2 of 16);

    &.card-medium {
      @include span(6 of 16);
    }
  }
}

/* gen-card */
.gen-card {
  display: block;
  width: 100%;
  background: $color-grey-0;
  border-radius: 2px;
  margin-bottom: $size-components-margin;

  &__header {
    // display: flex;
    width: 100%;
    border-bottom: 1px solid $color-grey-300;
    padding: $size-std-padding;
  }

  &__title {
    // display: flex;
    @include adjust-font-size-to(18px);
    color: $color-base-darken;
    font-weight: 700;
  }

  &__content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: $size-std-padding;
    justify-content: space-between;
  }

  &__footer {
  }

  @include susy-breakpoint($screen-medium, 12) {
    justify-content: space-between;
  }

  @include susy-breakpoint($screen-big, 16) {
    &__header {}
    &__title {}
    &__content {}
    &__footer {}
  }
}

.card-option {
  display: flex;
  flex-basis: 100%;
  background: $color-grey-0;
  padding: $size-components-padding;
  border: 1px solid $color-grey-300;
  align-items: center;
  margin-top: $size-std-padding;

  &__image {
    display: flex;
    width: 73px;
    height: 73px;
    border-radius: 50%;
    font-size: 32px;
    color: $color-base-darken;
    background: rgba($color-base-main, 0.2);
    border: 1px solid $color-base-darken;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex: 0 0 73px;
    margin-right: $size-std-padding;
  }

  &__description {
    align-self: center;
  }

  &__title {
    display: block;
    font-size: 18px;
    color: $color-grey-900;
    font-weight: 700;
  }

  &__text {
    display: block;
    font-size: 14px;
    color: $color-grey-900;
  }

  &:hover {
    transition: all .5s cubic-bezier(0, 0, 0.41, 1.03);
    box-shadow: 0 0 8px -2px $color-base-darken;
    border-color: $color-base-darken;
  }

  @include susy-breakpoint($screen-medium, 12) {
    display: flex;
    flex-basis: calc(50% - 5px);

    &__description {
      align-self: center;
    }
  }

  @include susy-breakpoint($screen-big, 16) {
    display: flex;
    flex-basis: calc(25% - 10px);
    margin-top: 0;

    &:first-child {
      margin-left: 0;
    }
  }
}

#subCapa {
  .grupo {
    background: $color-grey-0;
    border: 1px solid #d2d2d2;
    margin-bottom: $size-components-padding;
  }
}

/* box-card */
.box-card {
  display: block;
  background: $color-grey-0;
  border-radius: 2px;
  margin-bottom: $size-components-padding;

  &__title {
    display: flex;
    position: relative;
    background: $color-grey-100;
    font-size: 18px;
    font-weight: 700;
    padding: $size-components-padding;
    border-bottom: 1px solid $color-pl-2;

    &-count {
     font-weight: 700;
     margin-left: 5px;
    }

    &-close {
      position: absolute;
      font-size: 24px;
      font-weight: 700;
      top: 50%;
      right: $size-components-padding;
      transform: translateY(-50%);
    }
  }

  &__content {
    display: none;
    padding: $size-components-padding;
    @extend %clearfix;
  }

  &--open {
  }

  &--std {
    .box-card__title-close {
      display: none;
    }

    .box-card__content {
      display: block;
    }
  }
}

.card-container {
  display: block;
  background: $color-grey-0;
  border-radius: 2px;
  margin-bottom: $size-components-padding;

  &__title {
    display: flex;
    position: relative;
    background: $color-grey-100;
    font-size: 18px;
    font-weight: 700;
    padding: $size-components-padding;
    border-bottom: 1px solid $color-pl-2;

    &-close {
      position: absolute;
      font-size: 16px;
      font-weight: 700;
      top: 50%;
      right: $size-components-padding;
      transform: translateY(-50%);
    }
  }

  &__content {
    display: none;
    padding: $size-components-padding;
    @extend %clearfix;
  }

  &__sub-container {
    margin-bottom: $size-components-margin;

    .card-container__title {
      padding-top: $size-components-padding / 2;
      padding-bottom: $size-components-padding / 2;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &--open {
    > .card-container__content {
      display: block;
    }
  }

  &--striped {
    border: 1px solid $color-base-background;
  }

  
}
