.breadcrumb {
  display: block;
  @extend %clearlist;
  @extend %clearfix;
  // text-align: center;

  &__item {
    display: block;
    position: relative;
    padding-right: ($size-components-padding * 2);
    color: #6A707E;
    font-size: 12px;
    font-weight: 300;

    &:hover {
      text-decoration: underline;
    }

    &::before {
      font: normal normal normal 14px/1 FontAwesome;
      content: "\f054";
      position: absolute;
      top: 0;
      right: $size-std-padding;
      font-size: 10px;
      line-height: 22px;
      color: $color-base-main;
    }

    &:last-child {
      color: $color-text-gen;

      &__link {
        color: #4F4F4F;
      }

      &:hover {
        text-decoration: none;
      }

      &::before {
        display: none;
      }
    }

  }

  &__link {
    color: inherit;
  }

  @include susy-breakpoint($screen-big, 16) {
    text-align: left;
  }
}
