%std-button {
  display: inline-block;
  background: none;
  border: none;
  font-family: $font-stack;
  @include adjust-font-size-to(16px);
  font-weight: 500;
  line-height: $size-components-height - 8px;
  height: $size-components-height - 8px;
  padding: 0 $size-components-padding;
  text-align: center;
  text-transform: uppercase;
  color: $color-grey-0;
  vertical-align: top;
  border: 0;
  margin: 0;
  border-radius: 3px;
  font-weight: 700;

  &.half-bt {
    width: calc((100% / 2) - 8px);
  }

  &.full-bt {
    width: 100%;
  }

  @include susy-breakpoint($screen-big, 16) {
    padding: 0 $size-components-margin;
  }
}


.area-buttons {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  // padding: $size-components-padding 0;
  clear: both;
  margin: ($size-components-padding * 2) 0 ;
}

// buttons create
.bt-main {
  @extend %std-button;
  @include createButton($color-base-main);
  font-size: 18px;
  text-transform: none;
}

.bt-alter {
  @extend %std-button;
  @include createButton($color-base-darken);
}

.bt-neutral {
  @extend %std-button;
  @include createButton($color-base-neutral);
}

.bt-neutral-alter {
  @extend %std-button;
  @include createButtonAlter($color-base-neutral);
}

.bt-alter-2 {
  @extend %std-button;
  background: transparent;
  border: 1px solid $color-base-darken;
  color: $color-base-darken;

  &:hover {
    background: rgba($color-base-main, 0.1);
  }
}

.bt-edit {
  @extend %std-button;
  @include createButtonAlter(#136fe0);
  text-transform: none;
}

.bt-back {
  @extend %std-button;
  @include createButton($color-pl-3);
}

.bt-confirm {
  @extend %std-button;
  @include createButton($color-base-success);
}

.bt-error {
  @extend %std-button;
  @include createButton($color-base-error);
}

.bt-confirm-alter {
  @extend %std-button;
  @include createButtonAlter($color-base-success);
}

.bt-error-alter {
  @extend %std-button;
  @include createButtonAlter($color-base-error);
}

.bt--small {
  padding-right: 10px;
  padding-left: 10px;
  line-height: 32px;
  height: 30px;
}

.pagination {
  display: flex;
  align-items: center;
  margin-left: auto;

  &__label {
    padding: $size-std-padding;
    width: 200px;
    font-size: 14px;
    text-align: right;
  }

  &__list {
    display: inline-flex;
  }

  &__item {
    background: $color-pl-2;
    border-top: 1px solid $color-grey-400;
    border-bottom: 1px solid $color-grey-400;
    border-left: 1px solid $color-grey-400;
    color: $color-pl-3;

    &--active {
      background: $color-base-main;
      color: $color-grey-0;

      &:hover {
        background: tint($color-base-main, 5%);
        color: $color-grey-0;
      }
    }

    &:hover {
      background: $color-grey-200;
      color: $color-grey-1000;
    }

    &:first-child,
    &:last-child {
      color: $color-base-main;
    }

    &:last-child {
      border-right: 1px solid $color-grey-400;
    }

  }

  &__link {
    display: block;
    color: inherit;
    padding: 10px $size-components-padding;
  }
}

