%std-button {
  display: inline-block;
  background: none;
  border: none;
  font-family: $font-stack;
  @include adjust-font-size-to(16px);
  font-weight: 500;
  line-height: $size-components-height;
  height: $size-components-height;
  padding: 0 $size-components-padding;
  text-align: center;
  text-transform: uppercase;
  color: $color-grey-0;
  vertical-align: top;
  border: 0;
  margin: 5px 3px;
  border-radius: 3px;

  &.half-bt {
    width: calc((100% / 2) - 8px);
  }

  &.full-bt {
    width: 100%;
  }

  @include susy-breakpoint($screen-big, 16) {
    padding: 0 $size-components-margin;
  }
}

.area-buttons {
  display: block;
  width: 100%;
  padding: $size-components-padding 0;
  @extend %clearfix;
  clear: both;
}

// buttons create
.bt-main {
  @extend %std-button;
  @include createButton($color-base-main);
  font-size: 18px;
  text-transform: none;
}

.bt-alter {
  @extend %std-button;
  @include createButton($color-base-darken);
}

.bt-neutral {
  @extend %std-button;
  @include createButton($color-base-neutral);
}

.bt-neutral-alter {
  @extend %std-button;
  @include createButtonAlter($color-base-neutral);
}

.bt-alter-2 {
  @extend %std-button;
  @include createButtonAlterBorder($color-grey-0, $color-base-main);
}

.bt-alter-3 {
  @extend %std-button;
  @include createButtonAlter($color-base-darken);
}

.bt-confirm {
  @extend %std-button;
  @include createButton($color-base-success);
}

.bt-error {
  @extend %std-button;
  @include createButton($color-base-error);
}

.bt-confirm-alter {
  @extend %std-button;
  @include createButtonAlter($color-base-success);
}

.bt-error-alter {
  @extend %std-button;
  @include createButtonAlter($color-base-error);
}

.bt--small {
  padding-right: 10px;
  padding-left: 10px;
  line-height: 32px;
  height: 30px;
}
