%base-feedback-box {
  display: block;
  padding: ($size-components-padding / 2);
  border: 1px solid;

  .content,
  .header {
    display: block;
    padding: ($size-components-padding / 2);
  }

  .header {
    position: relative;
    padding-right: ($size-components-height  ($size-components-padding / 2));
  }

  .title {
    display: block;
    font-size: 14px;
    line-height: ($size-components-height - $size-components-padding);
    font-weight: bold;
  }

  .bt-close {
    display: block;
    position: absolute;
    width: $size-components-height;
    height: $size-components-height;
    font-size: 16px;
    line-height: $size-components-height;
    top: 0;
    right: 0;
    text-align: center;
    color: inherit;
  }

  .content {
    p {
      display: block;
      font-size: 12px;
      line-height: 18px;
    }
  }
  @include susy-breakpoint($screen-medium, 12) {
    .title {
      font-size: 16px;
    }

    .content {
      p {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
  @include susy-breakpoint($screen-big, 16) {
    .title {
      line-height: 22px;
    }

    .bt-close {
      width: 32px;
      height: 32px;
      line-height: 32px;
    }
  }
}

@mixin feedbackBox($box-name, $base-color) {
  .#{$box-name} {
    @extend %base-feedback-box;
    border-color: $base-color;
    background: tint($base-color, 80%);
    color: shade($base-color, 50%);
  }

  .#{$box-name} {
    @include span(6);

    @include susy-breakpoint($screen-small, 8) {
      @include span(8);
    }

    @include susy-breakpoint($screen-medium, 12) {
      @include span(12);
    }

    @include susy-breakpoint($screen-big, 16) {
      @include span(16);
    }
  }
}

.feedback-message {
  display: block;
  background: rgba($color-base-success, .1);
  color: $color-base-success;
  font-weight: 700;
  border: 1px solid $color-base-success;
  padding: $size-std-padding;

  height: 0;
  transform: translateY(-100%);
  visibility: hidden;

  text-align: center;
  transition: all 1.5s;
  border-radius: 2px;

  &--open {
    animation: 1300ms feedbackShowAndHidden;
    opacity: 1;
    height: auto;
    transform: translateY(0);
    visibility: visible;
    margin-top: $size-std-padding;
    margin-bottom: $size-std-padding;
  }
}

@keyframes feedbackShowAndHidden {
  0% {
    opacity: 0;
    transform: translateY(-50%);
    visibility: hidden;
  }

  50% {
    opacity: 0.7;
    transform: translateY(10%);
    visibility: visible;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@include feedbackBox('feedback-box', $color-base-main);
@include feedbackBox('feedback-box-neutral', $color-grey-800);
@include feedbackBox('feedback-box-success', $color-base-success);
@include feedbackBox('feedback-box-error', $color-base-error);
@include feedbackBox('feedback-box-warning', $color-base-warning);
