.std-form {
  @extend %clearfix;

  label {
    display: block;
    @include adjust-font-size-to(16px);
    line-height: 1.5;
    color: $color-grey-800;
    text-transform: uppercase;
    margin-bottom: $size-components-padding / 2;
  }

  .half-input {
    display: block;
    margin-top: $size-components-padding;

    &:first-child {
      margin-top: 0;
    }

    @include susy-breakpoint($screen-small, 8) {
      flex: 0 1 50%;
      margin: 0;

      .half-input {
        margin-top: $size-components-padding;

        &:first-child {
          margin: 0;
        }
      }

      // &:first-child {
      //   margin-top: 0;
      //   margin-right: $size-components-padding;
      //
      //   .half-input {
      //     margin: 0;
      //   }
      // }
      //
      // .half-input {
      //   margin: 0;
      // }

    }

    @include susy-breakpoint($screen-medium, 12) {
      &:first-child {
        margin-right: $size-components-padding;
      }
    }

    @include susy-breakpoint($screen-big, 16) {
    }
  }

  fieldset {
    display: block;
    border: 1px solid $color-grey-200;
    // padding: $size-components-padding $size-components-padding 0 $size-components-padding;
    padding: 0 5px 15px 5px;
    margin-bottom: $size-components-padding;
  }

  .form-line {
    display: block;
    margin-bottom: $size-components-padding;
    @extend %clearfix;

    &:first-last {
      margin-top: 0;
    }

    @include susy-breakpoint($screen-small, 8) {
      display: flex;
    }

    @include susy-breakpoint($screen-big, 16) {
      margin-bottom: $size-components-padding;
    }
  }
}

.label-inline-input {
  a {
    text-decoration: underline;
  }
}

.input-multiline,
.input-singleline {
  display: block;
  width: 100%;
  @include adjust-font-size-to(16px);
  height: $size-components-height - 8px;
  background: $color-grey-50;
  border: 1px solid $color-grey-400;
  padding: (($size-components-height - 24px) / 2) $size-components-padding;
  border-radius: 2px;

  &--small {
    width: 25%;
  }

  &.input--search {
    float: left;
    width: 78%;

    & + [class^="bt-"] {
      margin: 0;
      width: 20%;
      float: right;
    }
  }

  &--focus,
  &:focus {
    border-color: $color-base-main;
    box-shadow: 0 0 2px -1px $color-base-main;
    -webkit-tap-highlight-color: $color-base-main;
    transition: all .5s ease-in-out;
  }

  &--warning {
    background: rgba($color-base-warning, 0.1);
    border-color: $color-base-warning;
    box-shadow: 0 0 2px rgba($color-base-warning, 0.5);
    color: shade($color-base-warning, 10%);
    @include placeholderColor($color-base-warning, 40%);
  }

  &--sucess {
    background: rgba($color-base-success, 0.1);
    border-color: $color-base-success;
    box-shadow: 0 0 2px rgba($color-base-success, 0.5);
    color: shade($color-base-success, 10%);
    @include placeholderColor($color-base-success, 40%);
  }

  &--error {
    background: rgba($color-base-error, 0.1);
    border-color: $color-base-error;
    box-shadow: 0 0 2px rgba($color-base-error, 0.5);
    color: shade($color-base-error, 10%);
    @include placeholderColor($color-base-error, 40%);
  }

  &--disabled,
  &:disabled {
    background: $color-grey-200;
    border-color: $color-grey-400;
    box-shadow: 0 0 2px rgba($color-grey-400, 0.5);
    color: shade($color-grey-400, 10%);
    @include placeholderColor($color-grey-200, 40%);

    &:focus {
      border-color: $color-grey-400;
      box-shadow: 0 0 2px -1px $color-grey-400;
      -webkit-tap-highlight-color: $color-grey-400;
    }
  }

  &::placeholder {
    color: $color-pl-4;
  }
}

.input-multiline {
  line-height: 1.5;
  height: $size-components-height * 2.5;
  resize: none;
}

.fancy-select {
  display: block;
  position: relative;
  width: 100%;
  @include adjust-font-size-to(16px);
  height: $size-components-height - 8;
  border-radius: 2px;
  cursor: pointer;

  &:after {
    display: block;
    position: absolute;
    width: $size-components-height;
    height: 20px;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    border: 1px solid $color-grey-800;
    border-color: $color-grey-800 transparent transparent transparent;
    border-width: 8px 6px 0;
    width: 0;
    height: 0;
    color: $color-grey-800;
    content: "";
    // text-align: center;
    // line-height: 20px;
    // font-size: 16px;
    // font-family: 'FontAwesome';
    // content: "\f078";
    // z-index: 2;
  }

  select {
    display: block;
    position: relative;
    width: 100%;
    @include adjust-font-size-to(16px);
    height: $size-components-height - 8;
    padding: 0 $size-components-padding;
    background: $color-grey-50;
    border: 1px solid $color-grey-400;
    color: $color-grey-900;
    border-radius: 2px;
    cursor: pointer;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    // opacity: 0;
    // display: block;
    // position: absolute;
    // top: -1px;
    // right: 0;
    // bottom: 0;
    // left: 0;
    // width: 100%;
    // min-height: 100%;
    // border: 0;
    // cursor: pointer;
    // z-index: 3;
  }

  option {
    font-size: 14px;
    color: $color-grey-900;
  }

  &--medium {
    float: left;
    width: 49%;

    &:last-child {
      float: right;
    }
  }

  &--full {
    width: 100%;

    .label {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
}

.form-checkbox,
.form-radio {
  display: inline-block;
  position: relative;
  @include adjust-font-size-to(16px);
  line-height: 22px;
  height: $size-components-height;
  vertical-align: text-bottom;

  .holder-line & {
    float: left;
    margin-right: 5px;
  }
}

input[type="checkbox"] {
  position: relative;
  width: 20px;
  height: 20px;
  background: $color-grey-0;
  border: 1px solid $color-grey-300;
  box-shadow: 0 0 2px rgba($color-grey-300, 0.8);
  border-radius: 2px;
  margin-right: 5px;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  transition: all 0.3s ease-in-out;

  &::before {
    opacity: 0;
    visibility: hidden;
  }

  &:checked {
    border-color: $color-base-main;
    box-shadow: 0 0 2px rgba($color-base-main, 0.2);

    &::before {
      font: normal normal normal 14px/1 FontAwesome;
      content: "\f00c";
      position: absolute;
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      left: 50%;
      top: 50%; /* 2px border */
      transform: translateY(-50%) translateX(-50%);
      color: $color-base-main;
      opacity: 1;
      visibility: visible;
    }
  }
}

input[type="radio"] {
  position: relative;
  width: 20px;
  height: 20px;
  background: $color-grey-0;
  border: 1px solid $color-grey-300;
  box-shadow: 0 0 2px rgba($color-grey-300, 0.8);
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;

  &:checked {
    background: $color-base-main;
    border: 1px solid $color-base-darken;
    box-shadow: 0 0 2px rgba($color-base-darken, 0.2);
    transition: background 0.3s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      background: $color-grey-0;
      border-radius: 50%;
      left: 50%;
      top: 50%; /* 2px border */
      transform: translateY(-50%) translateX(-50%);
    }
  }
}

/* Search bar */
.search-bar {
  display: flex;
  flex-wrap: wrap;
  background: $color-grey-0;
  margin-bottom: $size-components-padding;
  padding: $size-components-padding;

  &__item {
    flex: 1 0 auto;
    padding-bottom:  $size-components-padding;

    &--medium {
      flex: 1 0 50%;

      &:first-child {
        flex-basis: calc(50% - 15px);
        margin-right: $size-components-padding;
      }

    }
  }

  @include susy-breakpoint($screen-big, 16) {
  }
}

.basic-search {
  @include susy-breakpoint($screen-big, 16) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 0 10px;
    background: #f2f2f2;
    box-shadow: 0 1px 2px rgba(#828282, 0.2);
    border-radius: 2px;

    label {
      text-transform: none;
      color: $color-grey-1000;
    }

    .input-multiline {
      height: 32px;
      line-height: 32px;
      border-radius: 2px;
      border-color: #C4C4C4;

      &::placeholder {
        color: #E5E5E5;
      }
    }

    .form-line {
      flex: 1 0 calc(28% - 30px);
      flex-wrap: wrap;
      margin: $size-components-padding;
      margin-left: 0;

      &:last-child {
        width: auto;
        flex-basis: 10%;
        margin-right: 0;
        align-self: flex-end;

        .bt-confirm {
          width: 100%;
          font-weight: 700;
        }

      }
    }
  }
}

.search-user {
  display: flex;
  flex: 1 0 100%;

  @include susy-breakpoint($screen-medium, 12) {
    & &__half-itens {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .form-line {
        display: inline-flex;
        flex-direction: column;
        margin-left: 10px;
        width: calc(40% - 15px);

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          width: auto;
          justify-content: flex-end;
          margin-bottom: $size-std-padding;
        }

      }
    }
  }

  @include susy-breakpoint($screen-big, 16) {
    // &__half-itens {
    //   flex-wrap: wrap;
    //   flex-direction: column;
    // }
  }
}

.form-register {
  display: block;
  // padding: $size-components-padding;
  background: $color-grey-0;
  // margin-bottom: $size-components-padding;
  // border: 1px solid $color-pl-4;
  @extend %clearfix;

  .form-line {
    display: block;
  }

  label {
    display: block;
    margin-bottom: 4px;
  }

  .holder-line {
    display: flex;
    margin-top: 5px;
    // align-items: flex-end;
    // margin-bottom: $size-components-padding;

    .form-line {
      @include span(16 / 4 of 16);

      &.input-medium {
        width: 49%;
      }

      &.input-big {
        width: 75%;
      }

      &.input-full {
        width: 100%;
      }
    }

    &.input-medium {
      .form-line {
        @include span(16 / 3 of 16);
      }
    }

    &.input-big {
      .form-line {
        @include span(8 of 16);
      }
    }

    &.input-full {
      .form-line {
        @include span(16 of 16);
      }
    }

    &.align-bottom {
      &,
      .form-line {
        align-self: flex-end;
      }
    }
  }

  .form-radio {
    float: left;
    height: auto;
    padding-right: $size-components-padding;
  }

  .pessoaFisica,
  .pessoaJuridica,
  .pessoaEstrangeira {
    display: none;
    opacity: 0;
    padding: 0;
    margin: 0;
    height: 0;
    visibility: hidden;
    transition: all 120ms ease-out;

    &.is-visible {
      display: block;
      opacity: 1;
      visibility: visible;
      padding: 10px;
      height: 100%;
      margin-bottom: $size-components-padding;
    }
  }
}

fieldset {
  background: $color-pl-2;
  // padding: 10px;
  border: 1px solid $color-pl-4;
  margin-bottom: $size-components-padding;
  padding: 5px 5px 15px 5px;

  legend {
    font-weight: 700;
    color: $color-base-main;
    margin: 0 $size-components-padding;
    padding: 0 $size-components-padding - 10;
  }
}

/* form-std */
.form-std {
  @extend %clearfix;

  label {
    display: block;
    @include adjust-font-size-to(14px);
    line-height: 1.5;
    color: $color-grey-900;
    margin-bottom: $size-components-padding / 2;
  }

  .form-line {
    @extend %clearfix;
    margin-top: $size-components-padding / 2;
  }

  .half-input {
    display: block;
    margin: 0;
    width: 100%;
    margin-bottom: $size-components-padding;

    [class^="bt-"] {
      width: 100%;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &.without-label {
      vertical-align: bottom;
    }

    @include susy-breakpoint($screen-medium, 12) {
      display: block;
      float: left;
      width: 49%;
      margin-right: 2%;
      margin-bottom: 0;

      [class^="bt-"] {
          width: auto;
      }

      &:last-child {
          margin-right: 0;
      }
    }
  }

  .input-holder {
      // @include span(6);
      @extend %clearfix;
      border: none;
      height: auto;
      padding: 0;

      // @include susy-breakpoint($screen-medium, 16){
      //     @include span(16);
      // }
  }

  &.form-small {
    .form-line {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &.form-std--goals {
    fieldset {
      padding: $size-std-padding;
    }

    .holder-input {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .form-line {
      width: 24%;
      margin-right: 1%;
      align-items: flex-end;

      &:last-child {
        margin-right: 0;
        display: flex;
        flex-wrap: wrap;
      }

      .form-radio {
        min-width: auto;
        height: auto;
      }
    }

    [class^="bt-"] {
      padding: 0 $size-std-padding;
      font-size: 14px;
      font-weight: 700;
      text-transform: none;

      .fa {
        margin-right: 5px;
      }

      &:first-child {
        margin-right: auto;
      }

      &:last-child {
        float: right;
      }
    }

    .header-goals-form {
      label {
        font-size: 16px;
        font-weight: 700;
        min-width: 200px;

        margin: 0;
        margin-right: $size-components-margin;
      }

      .form-line {
        display: flex;
        width: auto;
        align-items: center;
        margin: 0 0 $size-components-padding 0;
      }
    }

    .goals-form-bonus {
      border-bottom:  1px solid $color-base-main;

      &__currency {}
      &__value {
      }
    }

  }

  &.stock-transfer {
    fieldset {
      padding: $size-components-padding;
      margin: 0;
    }

    label {
      font-size: 1rem;
      font-weight: 700;
    }

    .form-line {
      display: inline-flex;
      justify-content: space-between;
      width: calc((100% / 3) - 13px);
      flex-wrap: wrap;
      flex-direction: column;
      margin-left: 15px;

      &:nth-child(3n + 1) {
        margin-left: 0;
      }

      label {
        flex-wrap: wrap;
      }
    }

  }
}
