label {
  @include adjust-font-size-to(16px);
  color: $color-grey-800;
  margin-bottom: $size-components-padding / 2;
}

input{
  &[type="text"], &[type="password"] {

  @include adjust-font-size-to(16px);
  height: $size-components-height - 8;
  background: $color-grey-50;
  border: 1px solid $color-grey-400;
  padding: (($size-components-height - 24px) / 2) $size-components-padding;
  border-radius: 2px;}
}

select {
  display: block;
  position: relative;
  @include adjust-font-size-to(16px);
  height: $size-components-height - 8;
  padding: 0 $size-components-padding;
  background: $color-grey-50;
  border: 1px solid $color-grey-400;
  color: $color-grey-900;
  border-radius: 2px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.std-form {
  @extend %clearfix;

  .half-input {
    display: block;
    margin-top: $size-components-padding;

    &:first-child {
      margin-top: 0;
    }

    @include susy-breakpoint($screen-small, 8) {
      flex: 0 1 50%;
      margin: 0;

      .half-input {
        margin-top: $size-components-padding;

        &:first-child {
          margin: 0;
        }
      }

    }

    @include susy-breakpoint($screen-medium, 12) {
      &:first-child {
        margin-right: $size-components-padding;
      }
    }

    @include susy-breakpoint($screen-big, 16) {
    }

  }

  fieldset {
    display: block;
    border: 1px solid $color-grey-200;
    padding: 0 5px 15px 5px;
    margin-bottom: $size-components-padding;

    &.spacing-medium {
      padding: $size-components-padding;
    }

  }

  .form-line {
    display: block;
    margin-bottom: $size-components-padding;
    @extend %clearfix;

    &:first-child {
      margin-top: 0;
    }

    @include susy-breakpoint($screen-small, 8) {
      display: flex;
    }

    @include susy-breakpoint($screen-big, 16) {
      margin-bottom: $size-components-padding;
    }
  }

  &--sales-page {
    @include susy-breakpoint($screen-big, 16) {
      display: block;

      .form-line {
        display: block;
      }

      label {
        text-transform: none;
      }

    }
  }
}

.label-inline-input {
  a {
    text-decoration: underline;
  }
}

.input-multiline,
.input-singleline {
  display: block;
  width: 100%;
  @include adjust-font-size-to(16px);
  height: $size-components-height - 8px;
  background: $color-grey-50;
  border: 1px solid $color-grey-400;
  padding: (($size-components-height - 24px) / 2) $size-components-padding;
  border-radius: 2px;

  &--small {
    width: 25%;
  }

  &.input--search {
    float: left;
    width: 78%;

    & + [class^="bt-"] {
      margin: 0;
      width: 20%;
      float: right;
    }
  }

  &--focus,
  &:focus {
    border-color: $color-base-main;
    box-shadow: 0 0 2px -1px $color-base-main;
    -webkit-tap-highlight-color: $color-base-main;
    transition: all .5s ease-in-out;
  }

  &--warning {
    background: rgba($color-base-warning, 0.1);
    border-color: $color-base-warning;
    box-shadow: 0 0 2px rgba($color-base-warning, 0.5);
    color: shade($color-base-warning, 10%);
    @include placeholderColor($color-base-warning, 40%);
  }

  &--sucess {
    background: rgba($color-base-success, 0.1);
    border-color: $color-base-success;
    box-shadow: 0 0 2px rgba($color-base-success, 0.5);
    color: shade($color-base-success, 10%);
    @include placeholderColor($color-base-success, 40%);
  }

  &--error {
    background: rgba($color-base-error, 0.1);
    border-color: $color-base-error;
    box-shadow: 0 0 2px rgba($color-base-error, 0.5);
    color: shade($color-base-error, 10%);
    @include placeholderColor($color-base-error, 40%);
  }

  &--disabled,
  &:disabled {
    background: $color-grey-200;
    border-color: $color-grey-400;
    box-shadow: 0 0 2px rgba($color-grey-400, 0.5);
    color: shade($color-grey-400, 10%);
    @include placeholderColor($color-grey-200, 40%);

    &:focus {
      border-color: $color-grey-400;
      box-shadow: 0 0 2px -1px $color-grey-400;
      -webkit-tap-highlight-color: $color-grey-400;
    }
  }

  &::placeholder {
    color: $color-pl-4;
  }
}

.input-singleline {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input-multiline {
  line-height: 1.5;
  height: $size-components-height * 2.5;
  resize: none;
}

.fancy-select {
  display: block;
  position: relative;
  width: 100%;
  @include adjust-font-size-to(16px);
  height: $size-components-height - 8;
  border-radius: 2px;
  cursor: pointer;

  &::after {
    display: block;
    position: absolute;
    width: $size-components-height;
    height: 20px;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    border: 1px solid $color-grey-800;
    border-color: $color-grey-800 transparent transparent transparent;
    border-width: 8px 6px 0;
    width: 0;
    height: 0;
    color: $color-grey-800;
    content: "";
  }

  select {
    display: block;
    position: relative;
    width: 100%;
    @include adjust-font-size-to(16px);
    height: $size-components-height - 8;
    padding: 0 ($size-components-padding * 2) 0 $size-components-padding;
    background: $color-grey-50;
    border: 1px solid $color-grey-400;
    color: $color-grey-900;
    border-radius: 2px;
    cursor: pointer;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  option {
    display: block;
    font-size: 14px;
    color: $color-grey-900;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--medium {
    float: left;
    width: 49%;

    &:last-child {
      float: right;
    }
  }

  &--full {
    width: 100%;

    .label {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
}

.form-checkbox,
.form-radio {
  display: inline-block;
  position: relative;
  @include adjust-font-size-to(16px);
  line-height: 22px;
  height: $size-components-height;
  vertical-align: text-bottom;

  .holder-line & {
    float: left;
    margin-right: 5px;
  }
}

.checkBox {
  margin-bottom: 12px;
  margin-right: 12px;
  display: flex;

  input[type="checkbox"] {
    flex: 0 0 auto;
  }
}

//input[type="checkbox"] {
//  position: relative;
//  width: 20px;
//  height: 20px;
//  background: $color-grey-0;
//  border: 1px solid $color-grey-300;
//  box-shadow: 0 0 2px rgba($color-grey-300, 0.8);
//  border-radius: 2px;
//  margin-right: 5px;
//  cursor: pointer;
//  -webkit-appearance: none;
//  appearance: none;
//  transition: all 0.3s ease-in-out;
//  vertical-align: middle;
//
//  &::before {
//    opacity: 0;
//    visibility: hidden;
//  }
//
//  & + label {
//    @include adjust-font-size-to(16px);
//  }
//
//  &:checked {
//    border-color: $color-base-main;
//    box-shadow: 0 0 2px rgba($color-base-main, 0.2);
//
//    &::before {
//      font: normal normal normal 14px/1 FontAwesome;
//      content: "\f00c";
//      position: absolute;
//      width: 20px;
//      height: 20px;
//      line-height: 20px;
//      text-align: center;
//      left: 50%;
//      top: 50%; /* 2px border */
//      transform: translateY(-50%) translateX(-50%);
//      color: $color-base-main;
//      opacity: 1;
//      visibility: visible;
//    }
//  }
//}

input[type="checkbox"] {
    position: relative;
    cursor: pointer;
    background-color: $color-grey-200;
    box-shadow: 0 0 0 1px $color-grey-300;
    cursor: pointer;
    position: relative;
    height: 20px;
    width: 40px;
    margin-right: $size-std-padding;
    border-radius: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &::before {
        position: absolute;
        content:"";
        width:20px;
        height: 20px;
        background: $color-grey-0;
        box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
        border-radius: 50%;
        transition: all 0.3s ease-in-out;
        transform: translateX(0);
    }

    & + label {
        @include adjust-font-size-to(16px);
        margin-left: $size-std-padding;
    }

    &:checked {
        background: $color-base-success;

        &::before {
            transform: translateX(100%);
        }
    }
}

input[type="radio"] {
  position: relative;
  width: 20px;
  height: 20px;
  background: $color-grey-0;
  border: 1px solid $color-grey-300;
  box-shadow: 0 0 2px rgba($color-grey-300, 0.8);
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;

  &:checked {
    background: $color-base-main;
    border: 1px solid $color-base-darken;
    box-shadow: 0 0 2px rgba($color-base-darken, 0.2);
    transition: background 0.3s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      background: $color-grey-0;
      border-radius: 50%;
      left: 50%;
      top: 50%; /* 2px border */
      transform: translateY(-50%) translateX(-50%);
    }
  }
}

/* Search bar */
.search-bar {
  display: flex;
  flex-wrap: wrap;
  background: $color-grey-0;
  margin-bottom: $size-components-padding;
  padding: $size-components-padding;

  &__item {
    flex: 1 0 auto;
    padding-bottom:  $size-components-padding;

    &--medium {
      flex: 1 0 50%;

      &:first-child {
        flex-basis: calc(50% - 15px);
        margin-right: $size-components-padding;
      }

    }
  }

  @include susy-breakpoint($screen-big, 16) {
  }
}

.basic-search {
  @include susy-breakpoint($screen-big, 16) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 0 10px;
    background: #f2f2f2;
    box-shadow: 0 1px 2px rgba(#828282, 0.2);
    border-radius: 2px;

    label {
      text-transform: none;
      color: $color-grey-1000;
    }

    .input-multiline {
      height: 32px;
      line-height: 32px;
      border-radius: 2px;
      border-color: #C4C4C4;

      &::placeholder {
        color: #E5E5E5;
      }
    }

    .form-line {
      flex: 1 0 calc(28% - 30px);
      flex-wrap: wrap;
      margin: $size-components-padding;
      margin-left: 0;

      &:last-child {
        width: auto;
        flex-basis: 10%;
        margin-right: 0;
        align-self: flex-end;

        .bt-confirm {
          width: 100%;
          font-weight: 700;
        }

      }
    }
  }
}

.search-user {
  display: flex;
  flex: 1 0 100%;

  @include susy-breakpoint($screen-medium, 12) {
    & &__half-itens {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .form-line {
        display: inline-flex;
        flex-direction: column;
        margin-left: 10px;
        width: calc(40% - 15px);

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          width: auto;
          justify-content: flex-end;
          margin-bottom: $size-std-padding;
        }

      }
    }
  }

  @include susy-breakpoint($screen-big, 16) {
    // &__half-itens {
    //   flex-wrap: wrap;
    //   flex-direction: column;
    // }
  }
}

.form-register {
  display: block;
  // padding: $size-components-padding;
  background: $color-grey-0;
  // margin-bottom: $size-components-padding;
  // border: 1px solid $color-pl-4;
  @extend %clearfix;

  .form-line {
    display: block;
  }

  label {
    display: block;
    margin-bottom: 4px;
  }

  .holder-line {
    display: flex;
    margin-top: 5px;
    // align-items: flex-end;
    // margin-bottom: $size-components-padding;

    .form-line {
      @include span(16 / 4 of 16);

      &.input-medium {
        width: 49%;
      }

      &.input-big {
        width: 75%;
      }

      &.input-full {
        width: 100%;
      }
    }

    &.input-medium {
      .form-line {
        @include span(16 / 3 of 16);
      }
    }

    &.input-big {
      .form-line {
        @include span(8 of 16);
      }
    }

    &.input-full {
      .form-line {
        @include span(16 of 16);
      }
    }

    &.align-bottom {
      &,
      .form-line {
        align-self: flex-end;
      }
    }
  }

  .form-radio {
    float: left;
    height: auto;
    padding-right: $size-components-padding;
  }

  .pessoaFisica,
  .pessoaJuridica,
  .pessoaEstrangeira {
    display: none;
    opacity: 0;
    padding: 0;
    margin: 0;
    height: 0;
    visibility: hidden;
    transition: all 120ms ease-out;

    &.is-visible {
      display: block;
      opacity: 1;
      visibility: visible;
      padding: 10px;
      height: 100%;
      margin-bottom: $size-components-padding;
    }
  }

  .spacing-medium {
    padding: 15px;
  }

  .full-line {
    label {
      float: left;
      margin: 0;
      margin-right: 15px;
    }
  }
}

fieldset {
  background: $color-pl-2;
  // padding: 10px;
  border: 1px solid $color-pl-4;
  margin-bottom: $size-components-padding;
  padding: 5px 5px 15px 5px;

  legend {
    font-weight: 700;
    color: $color-base-main;
    margin: 0 $size-components-padding;
    padding: 0 $size-components-padding - 10;
  }

  &.spacing-medium {
    padding: $size-components-padding;
  }
}

/* form-std */
.form-std {
  @extend %clearfix;

  label {
    display: block;
    @include adjust-font-size-to(16px);
    line-height: 1.5;
    color: $color-grey-900;
    font-weight: 700;
    margin-bottom: $size-components-padding / 2;
  }

  .form-line {
    @extend %clearfix;
    margin-bottom: $size-components-padding / 2;
    position: relative;
  }

  .half-input {
    display: block;
    position: relative;
    margin: 0;
    width: 100%;
    margin-bottom: $size-components-padding;

    [class^="bt-"] {
      width: 100%;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &.without-label {
      vertical-align: bottom;
    }

    &.half-input--small {
      width: 25%;
    }

    &.label-inline {
      display: flex;
      justify-content: space-between;
      align-items: center;

      label {
        margin-right: $size-components-padding;
      }

      .input-singleline {
        width: 50%;
        flex: 1 0 auto;
      }

    }

    @include susy-breakpoint($screen-medium, 12) {
      display: block;
      float: left;
      width: 49%;
      margin-right: 2%;
      margin-bottom: 0;

      [class^="bt-"] {
          width: auto;
      }

      &:last-child {
          margin-right: 0;
      }
    }
  }

  .input-holder {
      // @include span(6);
      @extend %clearfix;
      border: none;
      height: auto;
      padding: 0;

      // @include susy-breakpoint($screen-medium, 16){
      //     @include span(16);
      // }
  }

  &.form-small {
    .form-line {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &.form-std--goals {
    fieldset {
      padding: $size-std-padding;

      &.spacing-medium {
        padding: $size-components-padding;
      }
    }

    .holder-input {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      &.input-goals {

        .form-line {
          width: 18%;

          &:first-child {
            width: 15%;
          }

        }

        .w-auto {
          width: 24%;
        }
      }
    }

    .form-line {
      width: 24%;
      margin-right: 1%;
      align-items: flex-end;
      margin-bottom: 0;

      &:last-child {
        margin-right: 0;
        display: flex;
        flex-wrap: wrap;
      }

      &.m-left {
        margin-left: auto;
      }
      &.m-right {
        margin-right: auto;
      }

      &.form-line-single {
        label {
          float: left;
          margin-right: 15px;
          font-weight: 700;
        }
      }
    }

    .form-radio {
      min-width: initial;
      height: auto;
      float: left;
      margin: 15px;
      margin-left: 0;
      margin-top: 10px;
    }

    + .feedback-box-warning {
      margin-right: 0;
      margin-left: 0;
    }

    [class^="bt-"] {
      padding: 0 $size-std-padding;
      font-size: 14px;
      font-weight: 700;
      text-transform: none;

      .fa {
        margin-right: 5px;
      }

      &:first-child {
        margin-right: auto;
      }

      &:last-child {
        float: right;
      }
    }

    .header-goals-form {
      clear: both;
      @extend %clearfix;

      label {
        font-size: 16px;
        font-weight: 700;
        min-width: 200px;
        margin: 0;
        margin-right: $size-components-margin;
      }

      .form-line {
        display: flex;
        width: auto;
        align-items: center;
        margin: 0 0 $size-components-padding 0;
      }
    }

    .goals-form-bonus {
      border-bottom:  1px solid $color-base-main;

      &__currency {}
      &__value {
      }
    }

  }

  &.stock-transfer {
    fieldset {
      padding: $size-components-padding;
      margin: 0;
    }

    label {
      font-size: 1rem;
      font-weight: 700;
    }

    .form-line {
      display: inline-flex;
      justify-content: space-between;
      width: calc((100% / 3) - 13px);
      flex-wrap: wrap;
      flex-direction: column;
      margin-left: 15px;

      &:nth-child(3n + 1) {
        margin-left: 0;
      }

      label {
        flex-wrap: wrap;
      }
    }
  }

  &--sale-singup {
    .form-line {
      margin-top: $size-components-padding;

      &:first-child {
        margin-top: 0;
      }
    }

    label {
      font-size: 16px;
    }

    fieldset {
      @include susy-breakpoint($screen-big, 16) {
        label {
          font-size: 16px;
          font-weight: 700;
          align-items: center;
          margin-bottom: 0;
        }
      }
    }
  }

  &--sale-clientes {
    @include susy-breakpoint($screen-big, 16) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 50%;
      margin-left: auto;
      margin-right: auto;

      .form-line {
        flex: 1 100%;
        align-items: flex-end;
        flex-wrap: wrap;
        margin-top: $size-components-padding;

        &:first-child {
          margin-top: 0;
        }
      }

      .half-input {
        align-items: flex-end;
      }

  	  .form-line--center {
        justify-content: space-between;
      }

      .form-line--autosize {
        display: flex;
        flex: 1 0 auto;
        justify-content: space-between;

        label {
          flex-wrap: wrap;
          width: 100%;
        }

        .input-singleline {
          display: inline-flex;
          width: calc(100% - 200px);
        }

        [class^="bt"] {
          margin-left: auto;
        }
      }

      .gen-text {
        margin-bottom: 0;
      }

    }
  }

  &--flexitems {
    @include susy-breakpoint($screen-big, 16) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-end;

      .form-checkbox {
        height: auto;
        align-self: center;
        margin-top: 25px;

        span {
          margin-right: 15px;
        }
      }

      .form-line {
        flex: 1 0 20%;
        margin-left: $size-components-padding;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          flex: 0 1 auto;
        }
      }
    }
  }

  &--sale {

    .form-line {
      display: flex;
      align-items: flex-end;
      margin-top: $size-components-padding;

      &:first-child {
        margin-top: 0;
      }
    }

    .form-radio {
      display: inline-flex;
      width: 48%;
      height: 40px;
      align-items: center;
      margin-bottom: 0;
    }

    .spacing-medium {
      .form-line {
        &:first-child {
          margin-top: 0;
        }
      }
    }

    .input-holder {
      margin-top: $size-components-padding;

      &:first-child {
        margin-top: 0;
      }
    }

  }

  .align-top {
    align-items: flex-start;
  }

  .form-checkbox-small {
    height: auto;
  }

  .small-input {
    display: flex;
    width: 50%;
  }

  .small-input-end {
    display: flex;
    width: 50%;
    align-items: flex-end;
    margin-right: 2%;

    &:last-child {
      margin-right: 0;
    }
  }

  .autosize-input {
    width: 70%;
    margin-right: $size-components-padding;

    &.big-size {
      width: 80%;
    }

    &.medium-size {
      width: 64%;
      margin-right: auto;
    }
  }

}

.form-line--autosize {
  display: flex;
  flex: 1 0 auto;
  justify-content: space-between;

  label {
    flex-wrap: wrap;
    width: 100%;
  }

  .input-singleline {
    display: inline-flex;
    width: calc(100% - 160px);
  }

  [class^="bt"] {
    margin-left: auto;
  }
}

.form-std {
  .group-input-button {
    width: 100%;

    .input-singleline {
      float: left;
      width: 50%;
      margin: 0;
    }

    .botaoConfirmarSerial {
        float: left !important;

        & + {
            display: block;
            width: 100%;
        }
    }

    .bt-main {
      margin-left: 15px;
    }
  }
}

.relative {
    display: flex;
    position: relative;
    margin-bottom: $size-components-padding;
}

#formCliente {
    .form-line .hint,
    .form-line [data-hint] {
        left: 16px;
    }
}
