.std-form {
  @extend %clearfix;

  .form-line {
    margin-top: $size-components-margin;

    &:first-child {
      margin-top: 0;
    }
  }

  label {
    display: block;
    @include adjust-font-size-to(16px);
    color: $color-grey-800;
    text-transform: uppercase;
    margin-bottom: rhythm(0.25);
  }

  .label-inline-input {
    a {
      text-decoration: underline;
    }
  }

  .input-multiline,
  .input-singleline {
    display: block;
    width: 100%;
    @include adjust-font-size-to(16px);
    height: $size-components-height;
    background: $color-grey-0;
    border: 1px solid $color-grey-400;
    padding: (($size-components-height - 24px) / 2) $size-components-padding;

    &:focus,
    &.focus {
      border-color: $color-pl-4;
      box-shadow: 0 0 2px $color-pl-4;
    }

    &.warning {
      background:  rgba($color-base-warning, 0.1);
      border-color: $color-base-warning;
      box-shadow: 0 0 2px rgba($color-base-warning, 0.5);
      color: shade($color-base-warning, 10%);
      @include placeholderColor($color-base-warning, 40%);
    }

    &.sucess {
      background: rgba($color-base-success, 0.1);
      border-color: $color-base-success;
      box-shadow: 0 0 2px rgba($color-base-success, 0.5);
      color: shade($color-base-success, 10%);
      @include placeholderColor($color-base-success, 40%);
    }

    &.error {
      background:  rgba($color-base-error, 0.1);
      border-color:  $color-base-error;
      box-shadow: 0 0 2px rgba($color-base-error, 0.5);
      color: shade($color-base-error, 10%);
      @include placeholderColor($color-base-error, 40%);
    }

    &:disabled {
      background: $color-grey-200;
    }
  }

  .input-multiline {
    line-height: 1.5;
    height: $size-components-height * 2.5;
    resize: none;
  }

  @include susy-breakpoint($screen-big, 16) {
    .half-input {
      display: inline-block;
      width: calc(48% - 2px);
      margin-bottom: 0;

      &:first-child {
        margin-right: 4%;
      }
    }
  }
}

.fancy-select {
  display: inline-block;
  position: relative;
  height: $size-components-height;
  background: linear-gradient($color-grey-100, $color-grey-300);
  cursor: pointer;
  border: 1px solid $color-grey-400;

  .label {
    @include adjust-font-size-to(14px);
    display: block;
    height: $size-components-height;
    line-height: $size-components-height;
    padding: 0 $size-components-height 0 $size-components-padding;
    font-weight: bold;
    text-transform: uppercase;
    color: $color-grey-800;
  }

  &:after {
    display: block;
    position: absolute;
    width: $size-components-height;
    height: 20px;
    margin-top: -10px;
    top: 50%;
    right: 0;
    content: "\f078";
    font-family: 'FontAwesome';
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    z-index: 2;
    color: $color-grey-800;
  }

  select {
    opacity: 0;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    cursor: pointer;
    z-index: 3;
  }

  option {
    color: $color-grey-900;
  }

  &.full {
    width: 100%;

    .label {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
}
