$icon-path: "/images/";
$icon-height: 66px;
$icon-width: 100%;

%icon-base-style {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  height: $icon-height;
  width: $icon-width;
}

.icon-pagamento-cartao {
  @extend %icon-base-style;
  background-image: url('#{$icon-path}icon-pagamento-cartao.svg');
}

.icon-pagamento-produtos-servicos {
  @extend %icon-base-style;
  background-image: url('#{$icon-path}icon-pagamento-produtos-servicos.svg');
}

.icon-payment-boleto {
  @extend %icon-base-style;
  background-image: url('#{$icon-path}icon-pagamento-boleto.svg');
}

.icon-pagamento-produto {
  @extend %icon-base-style;
  background-image: url('#{$icon-path}icon-pagamento-produto.svg');
}

.icon-pagamento-servicos {
  @extend %icon-base-style;
  background-image: url('#{$icon-path}icon-pagamento-servicos.svg');
}

.icon-pagamento-recarga {
  @extend %icon-base-style;
  background-image: url('#{$icon-path}icon-pagamento-recarga.svg');
}

.icon-pagamento-acessorios {
  @extend %icon-base-style;
  background-image: url('#{$icon-path}icon-pagamento-acessorios.svg');
}

.icon-pagamento-dinheiro {
  @extend %icon-base-style;
  background-image: url('#{$icon-path}icon-pagamento-dinheiro.svg');
}

.icon-pagamento-outros {
  @extend %icon-base-style;
  background-image: url('#{$icon-path}icon-pagamento-outros.svg');
}
