.gen-image-link {
	display: block;
	text-align: center;
	margin-bottom: $size-components-margin;

	figure {
		display: inline-block;
		position: relative;
		border: 1px solid $color-grey-300;
	}

	img {
		display: block;
		width: auto;
		height: auto;
		max-width: 100%;
	}

	figcaption {
		display: block;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		padding: 0 $size-components-padding;
		background: rgba($color-pl-3, 0.8);
		@include adjust-font-size-to(12px);
		font-style: italic;
		color: $color-grey-0;
	}

}