$name-modal-base: "modal";

.#{$name-modal-base} {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
  padding: 2 * $size-components-padding;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;


  &--clean {

    .#{$name-modal-base + "__content"} {
      border-radius: 4px;
    }

    .#{$name-modal-base + "__header"},
    .#{$name-modal-base + "__footer"} {
      background-color: $color-grey-0;
      border: 0;
    }

    .#{$name-modal-base + "__header"} {
      border-radius: 4px 4px 0 0;

      .bt-close {
        font-size: 24px;
        color: $color-grey-800;
      }
    }

    .#{$name-modal-base + "__footer"} {
      border-radius : 0 0 4px 4px;
    }

  }

  @include susy-breakpoint($screen-medium, 12) {
    padding: 4 * $size-components-padding;
  }

  @include susy-breakpoint($screen-big, 16) {
    padding: 6 * $size-components-padding;
  }

  @at-root {
    .modal-active #{&} {
      display: block;

    }
  }
}


.#{$name-modal-base + "__content"} {
  display: block;
  margin: auto;
  box-shadow: 0 ($size-components-padding / 2) $size-components-padding rgba(#000000, 0.5);
  background: $color-modal-bg;

  @include susy-breakpoint($screen-medium, 12) {
    max-width: $size-modal-std;
  }

  @include susy-breakpoint($screen-big, 16) {
    max-width: $size-modal-big;
  }
}
.#{$name-modal-base + "__header"} {
  position: relative;
  height: $size-components-height;
  padding: 0 $size-components-height 0 $size-components-padding;
  font-size: 16px;
  line-height: $size-components-height;
  border-bottom: 1px solid #CCC;
  background: $color-modal-header-bg;

  .title {
    line-height: $size-components-height;
    text-transform: uppercase;
    color: $color-modal-title;
    font-weight: 700;
  }

  .bt-close {
    display: block;
    position: absolute;
    width: $size-components-height;
    height: $size-components-height;
    top: 0;
    right: 0;
    text-align: center;
    color: $color-modal-close;

    &:active {
      background: darken($color-modal-header-bg, 10%);
    }
  }
}

.#{$name-modal-base + "__body"} {
  padding: $size-components-padding;
  max-height: 500px;
  overflow-y: auto;
  @extend %responsive-image;
  @extend %clearfix;
}

.#{$name-modal-base + "__footer"} {
  padding: $size-components-padding;
  border-top: 1px solid #CCC;
  text-align: right;
  background: $color-modal-footer-bg;
  @extend %clearfix;
}

@at-root {
  .modal-active {
    overflow: hidden;
  }
}
