table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid $color-grey-300;
}

.std-table {
  width: 100%;
  background: $color-grey-0;
  border: 1px solid $color-grey-300;

  td,
  th {
    @include adjust-font-size-to(14px);
    color: $color-grey-800;
    padding: ($size-components-padding / 2);
  }

  th {
    text-align: left;
    font-weight: 500;
    color: $color-grey-1000;
    background: $color-grey-100;
    border-bottom: 1px solid $color-grey-300;
  }

  @include susy-breakpoint($screen-big, 16) {
    td,
    th {
      @include adjust-font-size-to(16px);
      padding: $size-components-padding;
    }
  }
}

.table-striped {
  @extend .std-table;
  border-color: #cecece;

  tr:nth-child(even) {
    background: $color-grey-100;
  }

  th,
  td {
    // border-bottom: 1px solid $color-grey-300;
    // border-right: 1px solid $color-grey-300;
    border-bottom: 1px solid #cecece;
    border-right: 1px solid #cecece;
    text-align: center;
    vertical-align: middle;

    &:last-child {
      border-right: 0;
    }
  }

  th {
    font-weight: 700;
    background: $color-grey-200;

    &:last-child {
      border-right: 0;
    }
  }

  &--small {
    th {
      padding: $size-components-padding / 2;
    }

    td {
      padding: 0 ($size-std-padding / 2);
    }

    .fancy-select {
      margin: $size-std-padding 0;
    }
  }
}

/* fallback */
table.lista,
table.form {
  @extend .std-table;

  tr:nth-child(even) {
    background: $color-grey-100;
  }

  th,
  td {
    border-bottom: 1px solid $color-grey-300;
    border-right: 1px solid $color-grey-300;
    text-align: center;
    vertical-align: middle;

    &:last-child {
      border-right: 0;
    }
  }

  th {
    font-weight: 700;
    background: $color-grey-200;

    &:last-child {
      border-right: 0;
    }
  }

  @include susy-breakpoint($screen-big, 16) {
    td,
    th {
      @include adjust-font-size-to(16px);
      padding: $size-std-padding / 2;
    }
  }
}

.table-wrapper {
  display: block;
  overflow: hidden;
  overflow-x: auto;
  width: 100%;
  max-width: 100%;
}

.table-ticket-view {
  min-width: $screen-medium;

  td,
  th {
    text-align: center;
  }
}

.table--cliente {
  td:last-child {
    .fa {
      margin-right: 5px;
      font-size: 18px;
    }

    .fa-user {
      color: rgb(32, 32, 32);
    }

    .fa-pencil-square-o {
      color: #136FE0;
    }

    .fa-trash {
      color: $color-base-main;
    }

  }
}

.table--goals {
  margin-bottom: $size-components-margin;

  thead, tfoot {
    text-align: left;
    font-weight: 500;
    color: $color-grey-1000;
    background: #ffffff;
    border-bottom: 1px solid #DFE6EE;
  }

  thead {
    > tr {

      &:first-child {
        th {
          background: #f2f2f2;
          font-size: 18px;
        }
      }

      th {
        background: #f8f8f8;
      }
    }
  }

  tr {
    border-bottom: 1px solid #DFE6EE;
  }

  th {
    text-align: center;
    font-weight: 700;
  }

  td {
    vertical-align: middle;
  }

}

.list-sva {
  display: flex;
  flex-wrap: wrap;
  clear: both;
}
