
.title-main {
  display: block;
  @include adjust-font-size-to(42px);
  color: $color-grey-900;
  font-weight: 700;
}

.gen-text {
  display: block;
  @include adjust-font-size-to(16px);
  color: $color-text-gen;

  a {
    color: $color-pl-4;
    text-decoration: underline;
  }
}

.small-text {
  display: block;
  @include adjust-font-size-to(14px);
  margin-bottom: $size-components-padding;
  color: $color-grey-600;

  a {
    color: $color-pl-4;
    text-decoration: underline;
  }
}

ul.gen-text {
  li {
    display: list-item;
    list-style: disc inside;
  }
}
