/* Titles */
.title-main {
  display: block;
  @include adjust-font-size-to(32px);
  color: $color-base-darken;
  font-weight: 700;
  text-align: center;

  @include susy-breakpoint($screen-big, 16) {
    @include adjust-font-size-to(42px);
    text-align: left;
  }
}

.title-big {
  @include adjust-font-size-to(30px);
  color: $color-base-darken;
  font-weight: 700;

  @include susy-breakpoint($screen-big, 16) {
    @include adjust-font-size-to(36px);
    text-align: left;
  }
}

.title-medium {
  @include adjust-font-size-to(24px);
  color: $color-grey-900;
  font-weight: 700;
  margin-bottom: $size-components-padding;

  @include susy-breakpoint($screen-big, 16) {
    @include adjust-font-size-to(30px);
    text-align: left;
  }
}

.title-small {
  @include adjust-font-size-to(20px);
  color: $color-base-darken;
  margin-bottom: $size-components-padding;

  @include susy-breakpoint($screen-big, 16) {
    @include adjust-font-size-to(24px);
    text-align: left;
  }
}

.title-gen {
  @include adjust-font-size-to(18px);
  color: $color-base-darken;
  font-weight: 700;
  margin-bottom: $size-components-padding;

  @include susy-breakpoint($screen-big, 16) {
    @include adjust-font-size-to(20px);
  }
}

.title-medium--underline {
  display: block;
  @include adjust-font-size-to(18px);
  color: $color-base-darken;
  font-weight: 500;
  margin-bottom: $size-components-padding;
  border-bottom: 1px solid $color-base-darken;
  padding-bottom: 0;

  @include susy-breakpoint($screen-big, 16) {
    @include adjust-font-size-to(20px);
    padding-bottom: $size-components-padding / 2;
  }
}

/* Texts */
.gen-text {
  display: block;
  @include adjust-font-size-to(16px);
  color: $color-text-gen;
  margin-bottom: $size-components-padding;

  a {
    color: $color-pl-4;
    text-decoration: underline;
  }
}

.small-text {
  display: block;
  @include adjust-font-size-to(14px);
  margin-bottom: $size-components-padding;
  color: $color-text-gen;

  a {
    color: $color-pl-4;
    text-decoration: underline;
  }
}

ul.gen-text {
  li {
    display: list-item;
    list-style: disc inside;
  }
}

.title-page {
  display: block;
  margin: $size-components-padding 0;

  &__title {
    display: block;
    font-size: 28px;
    line-height: 24px;
    color: $color-grey-1000;
    font-weight: 700;
  }

  &__subtitle {
    font-family: $font-stack;
    font-size: 18px;
    color: #6A707E;
  }
}
