/* Titles */
.title-main {
  display: block;
  @include adjust-font-size-to(32px);
  color: $color-base-darken;
  font-weight: 700;
  text-align: center;

  @include susy-breakpoint($screen-big, 16) {
    @include adjust-font-size-to(42px);
    text-align: left;
  }
}

.title-big {
  @include adjust-font-size-to(30px);
  color: $color-base-darken;
  font-weight: 700;

  @include susy-breakpoint($screen-big, 16) {
    @include adjust-font-size-to(36px);
    text-align: left;
  }
}

.title-medium {
  @include adjust-font-size-to(24px);
  color: $color-grey-900;
  font-weight: 700;
  margin-bottom: $size-components-padding;

  @include susy-breakpoint($screen-big, 16) {
    @include adjust-font-size-to(30px);
    text-align: left;
  }
}

.title-small {
  @include adjust-font-size-to(20px);
  color: $color-base-darken;
  margin-bottom: $size-components-padding;

  @include susy-breakpoint($screen-big, 16) {
    @include adjust-font-size-to(24px);
    text-align: left;
  }
}

.title-section {
  @include adjust-font-size-to(22px);
  color: $color-base-main;
  font-weight: 700;
  border-bottom: 2px solid $color-grey-800;
  margin-bottom: $size-components-padding;
  padding-bottom: $size-std-padding / 2;

  @include susy-breakpoint($screen-big, 16) {
    @include adjust-font-size-to(22px);
  }
}

.title-gen {
  @include adjust-font-size-to(18px);
  color: $color-base-darken;
  font-weight: 700;
  margin-bottom: $size-components-padding;

  @include susy-breakpoint($screen-big, 16) {
    @include adjust-font-size-to(20px);
  }
}

.title-gen-small {
  @include adjust-font-size-to(16px);
  color: $color-grey-1000;
  font-weight: 700;
}

.title-medium--underline {
  display: block;
  @include adjust-font-size-to(18px);
  color: $color-base-darken;
  font-weight: 500;
  margin-bottom: $size-components-padding;
  border-bottom: 1px solid $color-base-darken;
  padding-bottom: 0;

  @include susy-breakpoint($screen-big, 16) {
    @include adjust-font-size-to(20px);
    padding-bottom: $size-components-padding / 2;
  }
}

/* Texts */
.gen-text {
  display: block;
  @include adjust-font-size-to(16px);
  color: $color-text-gen;
  margin-bottom: $size-components-padding;

  a {
    color: $color-pl-4;
    text-decoration: underline;
  }
}

.gen-text-small {
  display: block;
  @include adjust-font-size-to(14px);
  color: $color-text-gen;
  margin-top: $size-std-padding / 2;
  margin-bottom: $size-std-padding / 2;

  a {
    color: $color-pl-4;
    text-decoration: underline;
  }
}

.small-text {
  display: block;
  @include adjust-font-size-to(14px);
  margin-bottom: $size-components-padding;
  color: $color-text-gen;

  a {
    color: $color-pl-4;
    text-decoration: underline;
  }
}

ul.gen-text {
  li {
    display: list-item;
    list-style: disc inside;
  }
}

.header-heading {
  position: relative;

  .container {
    position: relative;
  }

  @include susy-breakpoint($screen-big, 16){
    margin-top: $size-components-padding;
  }
}

.title-page {
  display: block;

  margin-bottom: $size-components-padding;

  &__title {
    display: block;
    font-size: 28px;
    line-height: 1.5;
    color: $color-grey-1000;
    font-weight: 700;
  }

  &__subtitle {
    font-family: $font-stack;
    font-size: 18px;
    color: #6A707E;
  }
}

.text-main-std {
  @include adjust-font-size-to(16px);
  color: $color-grey-1000;
  text-transform: none;
  margin-bottom: 5px;
}

.text-gen-label {
  display: inline-block;
  @include adjust-font-size-to(16px);
  color: $color-grey-1000;
  text-transform: none;
  margin-right: 10px;

  &:hover {
    text-decoration: underline;
  }

  .fa {
    color: $color-base-main;
  }
}

.text-main-std {
  @include adjust-font-size-to(16px);
  color: $color-grey-1000;
  text-transform: none;
  margin-bottom: 5px;
}

.text-main-spacing {
  @include adjust-font-size-to(16px);
  color: $color-grey-1000;
  text-transform: none;
  margin-bottom: $size-components-padding;
}

.text-mark-success {
  float: left;
  padding: 0 5px;
  color: $color-grey-0;
  background: $color-base-success;
  font-weight: 700;
}


.gen-text-link {
  display: block;
  @include adjust-font-size-to(14px);
  color: $color-text-gen;
  margin-top: $size-std-padding / 2;
  margin-bottom: $size-std-padding / 2;

  a {
    color: inherit
  }

  &:hover,
  a:hover {
    text-decoration: underline;
  }
}
