.timeline {
  padding-bottom: $size-components-padding;
  padding-top: $size-components-padding;
  border-bottom: 1px solid $color-grey-400;

  &-header {
    display: block;
    margin-bottom: $size-components-margin;

    &__prev,
    &__next,
    &__month,
    &__today {
      background: $color-grey-100;
      color: $color-grey-900;
      margin-right: $size-std-padding;
    }

    &__prev,
    &__next {
      padding: 5px 15px;
      height: 40px;
      line-height: 30px;
      font-size: 18px;
      border: 1px solid $color-grey-700;
      background: transparent;
      font-size: 20px;
      font-weight: 700;
    }

    &__prev {
      margin-right: 0;
      border-right: 0;
    }

    &__month {
      background: transparent;
      font-size: 20px;
      line-height: 40px;
      font-weight: 700;
    }

    &__legend {
      margin-left: auto;
      align-self: center;

      span {
        margin-left: $size-components-padding;

        &::before {
          content:"";
          display: inline-block;
          width: $size-components-padding;
          height: $size-components-padding;
          border-radius: 50%;
          margin-right: $size-components-padding / 2;
        }
      }

      .close {
        &::before {
          background: $color-grey-500;
        }
      }

      .open {
        &::before {
          background: $color-base-success;
        }
      }

      .pending{
        &::before {
          background: $color-base-warning;
        }
      }

    }
  }

  &-days {
    display: flex;
    position: relative;
    justify-content: space-between;
  }

  &__day {
    position: relative;
    @include adjust-font-size-to(16px);
    color: $color-grey-700;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    text-align: center;
    z-index: 1;
    flex: 1;
    border-radius: 2px;
    margin: 0 5px;
    transition: all 0.2s;

    &:hover {
      color: $color-grey-0;
      background: $color-grey-400;
    }

    &--active {
      color: $color-grey-900;
      height: 30px;
      border: 2px solid $color-grey-900;
      line-height: 24px;
      background: transparent;

       &:hover {
         background: transparent;
         color: $color-grey-900;
       }
    }

    &--alert {
      color: $color-grey-0;
      background: $color-base-warning;

      &:hover {
        background: $color-base-warning;
      }
    }

    &--pending {
      color: $color-grey-0;
      background: $color-base-success;

      &:hover {
        background: $color-base-success;
      }
    }
    
  }

  @include susy-breakpoint($screen-medium, 16) {
    &-header {
      display: flex;
    }
  }
}
