.widget-container {
  @include susy-breakpoint($screen-medium, 12) {
    .half-content-container {
      font-size: 0;
    }

    .half-content-left,
    .half-content-right {
      display: inline-block;
      width: 50%;
      font-size: 16px;
      vertical-align: top;
    }

    .half-content-left {
      padding-right: 2 * $size-components-padding;
    }

    .half-content-right {
      padding-left: 2 * $size-components-padding;
    }
  }
}

