$wizard-steps-qtd: 3;

.wizard {
  display: block;
  position: relative;
  margin-bottom: 40px + $size-components-padding;
  clear: both;
}

.wizard-steps {
  display: block;
  position: relative;
  height: 5px;
  background: $color-grey-400;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 40px;
  @extend %clearlist;

  li {
    width: 100% / $wizard-steps-qtd;
    position: relative;
  }

  &.step-1 {
    .first {
      .icon {
        background: $color-base-main;
        color: #FFF;
      }

      .label {
        color: $color-checkout-steps-icon-text;
      }
    }

    &:after {
      width: (100% / $wizard-steps-qtd) / 2; // 16%
      background: $color-base-main;
    }
  }

  &.step-2 {
    .first {
      .icon {
        background: $color-base-main;
        color: #FFF;
      }

      .label {
        color: $color-checkout-steps-icon-text;
      }
    }

    .second {
      .icon {
        background: $color-base-main;
        color: #FFF;
      }

      .label {
        color: $color-checkout-steps-icon-text;
      }
    }

    &:after {
      // width: 2 * (100% / $wizard-steps-qtd);
      width: (100% / 2); // 50%
      background: $color-base-main;
    }
  }

  &.step-3 {
    .first {
      .icon {
        background: $color-base-main;
        color: #FFF;
      }

      .label {
        color: $color-checkout-steps-icon-text;
      }
    }

    .second {
      .icon {
        background: $color-base-main;
        color: #FFF;
      }

      .label {
        color: $color-checkout-steps-icon-text;
      }
    }

    .third {
      .icon {
        background: $color-base-main;
        color: #FFF;
      }

      .label {
        color: $color-checkout-steps-icon-text;
      }
    }

    &:after {
      width: 3 * (100% / $wizard-steps-qtd);
      background: $color-base-main;
    }
  }

  .label {
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
    // color: $color-checkout-steps-icon-bg;
    color: $color-grey-900;
    text-transform: uppercase;
    top: 25px;
    left: 0;

    @include susy-breakpoint($screen-medium, 12) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  .icon {
    display: block;
    position: absolute;
    z-index: 3;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -15px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    background: $color-grey-400;
    color: $color-grey-0;

    [class^="fa"] {
      display: none;
    }
  }

  &:after {
    display: block;
    content:"";
    height: 100%;
    width: (100% / $wizard-steps-qtd) / 2; // 16%
    border-radius: 5px;
  }

  @include susy-breakpoint($screen-medium, 12) {
    width: span(8);
    margin: $size-components-padding auto;
    margin-bottom: 0;
  }

  @include susy-breakpoint($screen-big, 16) {
    width: span(10);
  }

}
