// .cashier-card {
//   border-radius: 2px;
//   background: $color-grey-0;
//   padding: $size-components-padding;
//   text-align: center;
//   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
//   transition: all 0.5s cubic-bezier(0, 0, 0, 1.21);
//
//   &:hover {
//     background: $color-grey-150;
//     color: $color-grey-1000;
//     transform: scale(1.05);
//   }
//
//   &-title {
//     display: block;
//     @include adjust-font-size-to(18px);
//     color: $color-grey-900;
//     font-weight: 700;
//     margin-top: $size-components-padding;
//   }
// }
//
// .cashier-item {
//   position: relative;
//   background: $color-grey-0;
//   padding: $size-components-padding 0;
//   text-align: center;
//   transition: all 0.5s cubic-bezier(0, 0, 0, 1.21);
//   margin-bottom: $size-components-padding;
//   border-radius: 2px;
//   opacity: 0.5;
//   cursor: pointer;
//   box-shadow: 0 2px 10px -2px rgba(0,0,0,0.2);
//
//   &:hover {
//     opacity: 1;
//   }
//
//   &-date,
//   &-number,
//   &-pdv,
//   &-title {
//     display: block;
//     font-weight: 700;
//     padding: 0 $size-components-padding;
//   }

.cashier {
  &-list {
    margin-top: $size-components-margin;
  }

  &-card {
    display: flex;
    background: $color-grey-0;
    padding: $size-components-padding;
    text-align: center;
    box-shadow: 0 4px 10px -2px rgba(0,0,0,0.2);
    transition: all 0.5s cubic-bezier(0, 0, 0, 1.21);
    border-radius: 2px;
    justify-content: center;
    align-items: center;

    &__title {
      display: block;
      @include adjust-font-size-to(18px);
      color: $color-base-main;
      font-weight: 700;
      text-align: center;
    }

    &__icon {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: $size-components-padding / 2;
    }

    &:hover {
      background: $color-grey-150;
      color: $color-grey-1000;
      transform: scale(1.05);
    }
  }

  &-item {
    position: relative;
    background: $color-grey-0;
    padding: $size-components-padding 0;
    text-align: center;
    margin-bottom: $size-components-padding;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 4px 10px -2px rgba(0,0,0,0.2);
    transition: all 0.5s cubic-bezier(0, 0, 0, 1.1);
    border-top: 3px solid $color-grey-500;

    &-number {
      @include adjust-font-size-to(14px);
      color: $color-grey-1000;
      font-weight: 700;
      text-transform: uppercase;
    }

    &-pdv {
      display: block;
      @include adjust-font-size-to(16px);
      text-transform: none;
    }

    &-title {
      display: block;
      @include adjust-font-size-to(20px);
      background: $color-grey-100;
      color: $color-grey-1000;
      font-weight: 700;
      padding: $size-components-padding;
      margin: $size-components-padding 0;
      text-transform: uppercase;
    }

    &-date {
      @include adjust-font-size-to(16px);
    }

    &-select {
      .actions-list {
        visibility: visible;
        opacity: 1;
        height: auto;
      }
    }

    &-close {
      border-color: $color-grey-500;
    }

    &-open {
      border-color: $color-base-warning;
      box-shadow: 0 4px 10px -2px rgba(0,0,0,0.2), 0 0 2px $color-base-warning;

      &::before {
        position: absolute;
        content: "?";
        width: 20px;
        height: 20px;
        background: $color-base-warning;
        left: 10px;
        top: 10px;
        border-radius: 50%;
        font-weight: 700;
        color: $color-grey-0;
      }
    }

    &-pending {
      border-color: $color-pl-1;
      box-shadow: 0 4px 10px -2px rgba(0,0,0,0.2), 0 0 2px $color-pl-1;

      &::before {
        position: absolute;
        content: "?";
        width: 20px;
        height: 20px;
        background: $color-pl-1;
        left: 10px;
        top: 10px;
        border-radius: 50%;
        font-weight: 700;
        color: $color-grey-0;
      }
    }

    &-pendencies {
      position: absolute;
      width: 20px;
      height: 20px;
      background: $color-grey-500;
      left: 10px;
      top: 10px;
      border-radius: 50%;
      font-weight: 700;
      color: $color-grey-0;

      &::before {
        content: "?";
      }

      &:hover {
        .tooltip {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

.actions-list {
  display: block;
  position: absolute;
  box-shadow: 0 2px 10px -1px rgba(0,0,0,0.4);
  transition: all 0.5s cubic-bezier(0, 0, 0, 1.1);
  background: $color-grey-0;
  width: 80%;
  left: 50%;
  z-index: 1;
  top: 108%;
  visibility: hidden;
  height: auto;
  opacity: 0;
  border-radius: 2px;
  transform: translateX(-50%);

  a {
    display: block;
    color: $color-grey-900;
    padding: 10px;
    // font-weight: 700;
    &:hover {
      background-color: $color-grey-200;
    }
  }

  &::after {
    display: block;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid $color-grey-0;
    border-color: transparent transparent $color-grey-0 transparent;
    border-width: 10px 10px 10px 10px;
    width: 0;
    height: 0;
    color: $color-grey-0;
    content: "";
    z-index: 2;
  }
}

/* Tooltip */
.tooltip {
  display: block;
  position: absolute;
  width: 100%;
  min-width: 200px;
  background: rgba(17,17,17,.9);
  border-radius: 2px;
  color: $color-grey-0;
  left: -10px;
  top: -1100%;
  padding: 10px;
  text-align: left;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  z-index: 1;

  &__list {
    padding-left: $size-components-padding;
    color: $color-grey-0;
  }

  &__item {
    @include adjust-font-size-to(16px);
    color: $color-grey-0;
  }

  &::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border: 1px solid rgba(17,17,17,.9);
    border-color: rgba(17,17,17,.9) transparent transparent transparent;
    border-width: 10px;
    bottom: -20px;
    left: 10px;
  }

}

.filters-step {
  display: block;
  position: relative;
  margin: $size-components-margin 0;
  padding: $size-components-padding;
  background: $color-grey-100;
  border-radius: 2px;

  .input-form {
    margin-bottom: 0;
  }
}
