.contact-page-form {
    
    @include span(full);
    margin-bottom: $size-components-height;
    
    @include susy-breakpoint($screen-small, 8){
        @include span(full);
    }
    
    @include susy-breakpoint($screen-medium, 12){
        @include span(7);
        margin-bottom: 0;
    }
    
    @include susy-breakpoint($screen-big, 16){
        @include span(10);
    }
    
}

.contact-page-adress {
    
    @include span(full);
    
    @include susy-breakpoint($screen-small, 8){
        @include span(full);
    }
    
    @include susy-breakpoint($screen-medium, 12){
        @include span(5);
        @include prefix(0.5);
    }
    
    @include susy-breakpoint($screen-big, 16){
        @include span(6);
        @include prefix(1);
    }
    
}

.contact-page-adress-map {
    
    margin-bottom: $size-components-margin;
    
    .title {
        margin-bottom: 0;
    }
    
    .map-link {
        display: block;
        padding: ($size-components-padding / 2);
        margin-bottom: $size-components-padding;
        background: $color-grey-200;
        
        img {
            display: block;
            width: 100%;
            max-width: 100%;
            height: auto;
            margin: 0;
        }
        
    }
    
}