.expense {
  display: block;

  &__form,
  &__sidebar {
    @include span(full);
  }

  @include susy-breakpoint($screen-medium, 12) {
    &__form {
      @include span(8);

      .bt-options {
        margin-left: auto;
        margin-right: auto;
        width: auto;
      }

    }

    &__sidebar {
      @include span(4);

      &__icon-despesa {
        display: block;
        margin: $size-components-padding auto;
      }

    }
  }
}
