.expense {
  &-container {
    display: block;
    background: $color-grey-0;
    @extend %clearfix;
  }

  &-form,
  &-sidebar {
    @include span(full);
    padding: $size-components-padding;
  }

  &-form {

    .form-line {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }

    // .input-holder {
    //   flex: 1 100%;
    //   margin-bottom: $size-components-padding;
    // }

    .half-input {
      flex: 1;
    }

    label {
      display: block;
    }

    small {
      font-size: 12px;
      position: relative;
      color: $color-grey-400;
    }

    .bt-options {
      margin-top: $size-components-padding;
      margin-right: auto;
      margin-left: auto;
    }

    .bt-confirm {
      width: 100%;
    }

    &__accordion {
      display: flex;
      flex: 1;
    }

  }

  &-sidebar {
    color: $color-grey-600;
    text-align: center;
    border-top: 1px solid $color-grey-400;

    &__icon {
      display: block;
      margin-bottom: $size-components-padding;
    }

    &__text,
    &__title {
      display: block;
      margin-bottom: $size-components-padding;
    }

    &__title {
      @include adjust-font-size-to(20px);
      font-weight: 700;
    }

    &__text {
      @include adjust-font-size-to(16px);
    }

    .list-disc {
      text-align: left;
    }
  }

  &-link-more {
    display: block;
    width: 100%;
    position: relative;
    margin-bottom: $size-components-padding;

    &__text {
      position: relative;
      padding-right: $size-components-padding;
      background: $color-grey-0;
      color: $color-grey-400;
      z-index: 1;
    }

    .fa {
      font-size: 20px;
      background: $color-grey-0;
      color: $color-grey-400;
      padding-right: $size-components-padding;
    }

    &::before {
      display: block;
      width: 100%;
      content: "";
      position: absolute;
      height: 1px;
      width: 100%;
      background: $color-grey-400;
      top: 50%;
      transform: translateY(50%);
      z-index: 0;
    }
  }

  &-payments {
    display: block;
    width: 100%;
    margin: $size-components-padding 0;

    &_link {
      display: block;
      text-align: right;
      color: $color-grey-400;
      margin-bottom: $size-components-padding;
      transition-duration: 0.3s;
      transition-property: all;

      &:hover {
        text-decoration: underline;
        color: $color-grey-800;
      }
    }

    &__item {
      position: relative;
      border: 1px solid $color-grey-400;
      text-align: center;
      padding: $size-components-padding * 2;
      margin-bottom: $size-components-padding;
      transition-duration: 0.3s;
      transition-property: color, background-color;

      &:hover {
        background-color: $color-grey-100;
        cursor: pointer;

        .expense-payments__text {
          color: $color-base-main;
        }
      }

      &--active {
        background-color: $color-grey-50;
        border-color: rgba($color-base-main, 0.6);

        &:hover {
          background-color: $color-grey-50;
        }

        .expense-payments__text {
          color: $color-base-main;
        }
      }

      .n-itens {
        position: absolute;
        width: $size-components-margin;
        height: $size-components-margin;
        background-color: $color-base-main;
        @include adjust-font-size-to(12);
        color: $color-grey-0;
        font-weight: 700;
        line-height: $size-components-margin;
        border-radius: 50%;
        top: -($size-components-padding - 5);
        right: -($size-components-padding - 5);
      }

    }

    &__icon {
      display: block;
      margin-bottom: $size-components-padding;
    }

    &__text {
      color: $color-grey-400;
      transition-duration: 0.5s;
    }

  }

  @include susy-breakpoint($screen-medium, 12) {
    &-container {
      padding: $size-components-padding 0;
    }

    &-form {
      @include span(8);

      .half-input {
        display: flex;
        align-self: stretch;
        margin-left: $size-components-padding;

        // .input-holder {
        //   flex: 1 auto;
        // }
      }

      // .input-holder {
      //   flex: 1;
      //   margin-left: $size-components-padding;
      //   &:first-child {
      //     margin-left: 0;
      //   }
      // }

      .bt-confirm {
        width: auto;
      }

      &__accordion {
        .form-line {
          width: 100%;
        }
        .input-holder {
          flex: 1 auto;
        }
      }

    }

    &-sidebar {
      @include span(4);
      border: 0;
      border-left: 1px solid rgba($color-grey-400, 0.5);
    }

    &-payments {

      &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;
        margin-left: -($size-components-padding);
      }

      &__item {
        display: block;
        flex: 1 0 auto;
        padding: $size-components-padding * 2;
        margin-left: $size-components-padding;
        align-self: center;
      }
      &__icon {
        display: flex;
        align-self: center;
        justify-content: center;
        height: 80px;
        margin-bottom: $size-components-padding;
      }
      &__text {
        color: $color-grey-400;
      }
    }

  }

  @include susy-breakpoint($screen-big, 16) {
    margin-bottom: $size-components-height;
    &-form {
      @include span(11 of 16);
    }

    &-sidebar {
      @include span(5 of 16);
    }

    &-payments {
      &__item {
        &:nth-child(even) {
          margin-right: 0;
        }
      }
    }

  }

}

.payments-method {
  display: block;
  width: 100%;
  margin: $size-components-margin 0;

  &__header {
    display: block;
    padding: ($size-components-padding / 2) $size-components-padding;
    color: $color-grey-600;
    background: $color-base-background;
    margin-bottom: $size-components-padding;
  }

  &__title {
    @include adjust-font-size-to(16px);
    color: $color-grey-800;
    font-weight: 700;
  }

  &__remove {
    float: right;
    color: $color-grey-600;
  }

  &__content {
    display: block;
  }
}

.installments {
  display: block;
  position: relative;
  width: 100%;

  &__header,
  &__content {
    display: block;
  }

  &__title {
    position: relative;
    @include adjust-font-size-to(18px);
    color: #5779C9;
  }

  &__remove {
    display: block;
    margin: $size-components-padding 0;
  }

  &__switch-value {
    float: right;

    .text {
      padding: $size-components-padding / 2;

      &--active {
        background: #5779C9;
        color: $color-grey-0;
      }
    }
  }

  @include susy-breakpoint($screen-big, 16) {
    margin-left: $size-components-padding;

    &__header {
      display: flex;
      width: 100%;
    }

    &__title {
      position: relative;
      @include adjust-font-size-to(18px);
      color: #5779C9;
      padding-left: $size-components-padding * 2;
    }

    &__content {
      padding: $size-components-padding 0;
    }

    &__remove {
      margin-left: auto;
      color: $color-grey-400;
      cursor: pointer;
    }

    &--open {

      &::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        background: $color-grey-200;
        z-index: 0;
      }

      .installments__title {
        color: #6A707E;
      }

      .installments__content {
        margin-left: $size-components-margin * 2;
      }

    }

    &__switch-value {
      display: flex;
      float: right;
      justify-content: flex-end;

      .text {
        font-size: 14px;
        padding: 0 $size-components-padding / 2;
        border-radius: 2px;

        &--active {
          background: #5779C9;
          color: $color-grey-0;
        }
      }
    }

    .icon-parcelamento {
      position: absolute;
      left: 0;
      top: 0;
    }

    &-list {
      display: block;
      width: 100%;
      &__header {
        display: flex;
        justify-content: space-between;
        text-align: left;
      }
      &__items {
        display: block;
      }
      &__item {
        display: flex;
        padding: ($size-components-padding / 2) 0;
        border-top: 1px solid $color-grey-200;
        justify-content: space-between;
        &:first-child {
          border-top: 0;
        }
        &--amount {
          justify-content: center;
          strong {
            margin-right: $size-components-padding;
          }
        }
      }
      &__text {
        display: flex;
        margin-left: $size-components-padding;
        color: #6A707E;
        &:first-child {
          margin-left: 0;
        }
      }
      &__input {
        width: auto;
        padding: 5px;
        border-radius: 5px;
        height: auto;
        border: 1px solid;
        border-color: $color-grey-0;
        transition: all .3s;
        &:focus {
          border-color: $color-grey-400;
          &+.refresh-value {
            opacity: 1;
          }
        }
      }
      .refresh-value {
        display: block;
        opacity: 0;
        color: #5779C9;
        margin-left: $size-components-padding / 2;
        transition: opacity .3s;
      }
    }
  }

  &-list {
    display: block;

    &__item {
      display: block;
      padding: ($size-components-padding / 2) 0;
      border-top: 1px solid $color-grey-200;

      &--amount {
       justify-content: center;

        strong {
          margin-right: $size-components-padding;
        }
      }
    }

    &__text {
      display: block;
      width: 100%;
      color: #6A707E;
      text-align: center;
      margin-bottom: $size-components-padding;

      &:first-child {
        margin-left: 0;
      }
    }

    &__input {
      display: block;
      width: 100%;
      border-color: $color-grey-0;
      transition: all .3s;

      &:focus {
        border-color: $color-grey-400;

        & + .refresh-value {
          opacity: 1;
        }
      }
    }

    .refresh-value {
      display: block;
      opacity: 0;
      color: #5779C9;
      margin-left: $size-components-padding / 2;
      transition: opacity .3s;
    }

  }
}

// New Expense
.expense {
  display: block;
  background: $color-grey-0;
  padding: $size-components-padding;
  @extend %clearfix;

  @include susy-breakpoint($screen-big, 16) {
  }
}

.expense-table {
  width: 100%;
  color: #6A707E;
  overflow-x: auto;
  border: 1px solid #DDEAF7;


  &-actions-link {
    display: flex;
    justify-content: flex-end;

    .link {
      padding: $size-components-padding;

      &:hover {
        text-decoration: underline;
      }

      &-filter {
        color: #5779C9;
      }
      &-select {
        color: $color-base-success;
      }
      &-new {
        color: $color-base-error;
      }

    }
  }

  thead {
    background-color:#F5F5F5;
    text-align: left;
  }

  th,
  td {
    position: relative;
    border-top: 1px solid #DDEAF7;
    padding: $size-components-padding;
  }

  &:hover {
    td {
      background: $color-grey-100;
    }
  }

  &--pending {
    background: #FFFBE8;
  }

  &--delayed {
    background: #FFE8E8;
    color: #D32E28;
  }

  .action-table {
    cursor: pointer;

    &--open {
      .action-submenu {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .action-submenu {
    position: absolute;
    background: $color-grey-0;
    box-shadow: 0 0 4px -2px rgba(0, 0, 0, 0.45);
    border: 1px solid #DDEAF7;
    border-radius: 4px;
    width: 150px;
    right: 15px;
    top: 90%;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    transition: opacity .2s, visibility 0.3s ease-in-out;

    &::before {
      content:"";
      position: absolute;
      width: 15px;
      height: 15px;
      background: $color-grey-0;
      border: 1px solid #DDEAF7;
      border-bottom: 0;
      border-left: 0;
      right: 15px;
      top: -8px;
      transform: rotate(-45deg);
    }

  }

  li {
    padding: ($size-components-padding/2) $size-components-padding;
    border-top: 1px solid #DDEAF7;
    text-align: left;

    &:first-child {
      border: 0;
    }
  }

  .action-submenu-link {
    display: block;
    color:#6A707E;

    &:hover {
      color: $color-grey-800;
    }
  }

  &--clean {
    width: 100%;
    overflow: auto;

    &,
    th,
    td {
      border: 0;
      padding: 0;
    }

    @include susy-breakpoint($screen-medium, 12) {
      width: auto;

      &,
      th,
      td {
        padding: $size-std-padding $size-components-padding;
      }

    }
  }
}

.expense-details-modal {
  justify-content: space-between;

  label,
  strong {
    display: block;
  }

  label {
    color: #6A707E;
  }

  .checkbox {
    pointer-events: none;
  }

  .input-holder {
    margin-bottom: $size-components-padding;

    &.expense-status {
      display: flex;
      flex: 0 1;
      flex-wrap: wrap;
      justify-content: flex-end;
    }
  }

  .expense-installment-details-title {
    display: flex;
    @include adjust-font-size-to(18px);
    color: $color-grey-600;
    margin-top: $size-components-padding;
    font-weight: 700;

    .expense-payments__icon {
      width: 21px;
      height: 29px;
      margin-right: $size-components-padding / 2;
    }

  }

}

.expense-details-payment {
  border-left: 2px solid $color-grey-200;
  padding-left: $size-components-padding;

  @include susy-breakpoint($screen-medium, 12) {
    margin-left: $size-components-padding;
  }
}
