.expense {
  &-container {
    display: block;
    background: $color-grey-0;
    @extend %clearfix;
  }

  &-form,
  &-sidebar {
    @include span(full);
    padding: $size-components-padding;
  }

  &-form {
    .form-line {
      display: flex;
      flex-wrap: wrap;
    }

    .input-holder {
      flex: 1 100%;
      margin-bottom: $size-components-padding;
    }

    .half-input {
      flex: 1;
    }

    label {
      display: block;
    }

    small {
      position: relative;
      color: $color-grey-400;
    }

    .bt-options{
      margin-top: $size-components-padding;
      margin-right: auto;
      margin-left: auto;
    }

    .bt-confirm {
      width: 100%;
    }
  }

  &-sidebar {
    color: $color-grey-600;
    text-align: center;

    &__icon {
      display: block;
      margin-bottom: $size-components-padding;
    }

    &__title,
    &__text {
      display: block;
      margin-bottom: $size-components-padding;
    }

    &__title {
      @include adjust-font-size-to(20px);
      font-weight: 700;
    }

    &__text {
      @include adjust-font-size-to(16px);
    }

    .list-disc {
      text-align: left;
    }
  }

  &-link-more {
    display: block;
    width: 100%;
    position: relative;
    margin-bottom: $size-components-padding;

    &__text {
      position: relative;
      padding-right: $size-components-padding;
      background: $color-grey-0;
      color: $color-grey-400;
      z-index: 1;
    }

    .fa {
      font-size: 20px;
      background: $color-grey-0;
      color: $color-grey-400;
      padding-right: $size-components-padding;
    }

    &::before {
      display: block;
      width: 100%;
      content:"";
      position: absolute;
      height: 1px;
      width: 100%;
      background: $color-grey-400;
      top: 50%;
      transform: translateY(50%);
      z-index: 0;
    }
  }

  @include susy-breakpoint($screen-medium, 12) {

    &-form {
      @include span(8);

      .half-input {
        display: flex;
        align-self: stretch;
        margin-left: $size-components-padding;

        .input-holder {
          flex: 1 auto;
        }
      }

      .input-holder {
        flex: 1;
        margin-left: $size-components-padding;

        &:first-child {
          margin-left: 0;
        }
      }

      .bt-confirm {
        width: auto;
      }
    }

    &-sidebar {
      @include span(4);
    }
  }

  @include susy-breakpoint($screen-big, 16) {
    margin-bottom: $size-components-height;

    &-form {
      @include span(11 of 16);
    }

    &-sidebar {
      @include span(5 of 16);
    }
  }
}
