.faq-page-list {
    
    @extend .full-span;
    
    a {
        display: block;
        position: relative;
        padding: $size-components-padding;
        padding-left: $size-components-height;
        background: $color-grey-100;
        color: $color-grey-800;
        @include transition(all $time-std-transition);
        
        &:hover {
            background: $color-grey-200;
        }
        
        &:after {
            content: "\f067";
            display: block;
            position: absolute;
            width: $size-components-height;
            height: $size-components-height;
            top: 50%;
            left: 0;
            margin-top: -($size-components-height / 2);
            font: normal normal normal 14px/1 FontAwesome;
            @include adjust-font-size-to(20px);
            line-height: $size-components-height;
            text-align: center;
        }
        
    }
    
    p {
        display: block;
        border: 1px solid $color-pl-5;
        border-top: none;
        padding: $size-components-padding; 
        color: $color-text-gen;
    }
    
    dt {
        margin-top: $size-components-margin;
        
        &:first-child {
            margin-top: 0;
        }
        
        &.opened {
            
            a {
                background: $color-pl-5;
                color: $color-grey-0;
                
                &:after {
                    content: "\f068";
                }
                
            }
            
        }
        
    }
    
    
    
    dd {
        @include transition(all $time-std-transition);
        overflow-y: hidden;
        max-height: 0;
        
        &.opened {
            max-height: rhythm(10);
        }
        
    }
    
    
    
}