#home-banner {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url($IMG_PATH + "main-banner.jpg") center top $color-grey-600;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.home-banner-content {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: container();
    text-align: center;
    padding: gutters();
    top: 30%;

    @include susy-breakpoint($screen-small, 8){
        max-width: container();
        padding: gutters();
    }

    @include susy-breakpoint($screen-medium, 12){
        max-width: container();
        padding: gutters();
    }

    @include susy-breakpoint($screen-big, 16){
        max-width: container();
        padding: gutters();
    }

}

.home-banner-hero-title,
.home-banner-desc {
    display: block;
    color: $color-grey-0;
    text-shadow: 0 1px 2px $color-grey-1000;
}

.home-banner-hero-title {
    @include adjust-font-size-to(36px);
    margin-bottom: $size-components-padding;

    @include susy-breakpoint($screen-small, 8){
        @include adjust-font-size-to(44px);
    }

    @include susy-breakpoint($screen-medium, 12){
        @include adjust-font-size-to(50px);
    }

    @include susy-breakpoint($screen-big, 16){
        @include adjust-font-size-to(56px);
    }

}

.home-banner-desc {
    @include adjust-font-size-to(18px);
    font-weight: 300;
    margin-bottom: $size-components-margin;

    @include susy-breakpoint($screen-small, 8){
        @include adjust-font-size-to(20px);
    }

    @include susy-breakpoint($screen-medium, 12){
        @include adjust-font-size-to(22px);
    }

    @include susy-breakpoint($screen-big, 16){
        @include adjust-font-size-to(24px);
    }
}

.home-highlights-header {

    .title {
        text-align: center;
        margin-bottom: $size-components-margin;
    }

    .text {

        text-align: center;

        br {
            display: none;
        }

        @include susy-breakpoint($screen-medium, 12){
            br {
                display: inherit;
            }
        }

    }

}

.home-highlights-list {

    .feature {
        @include span(full);
        text-align: center;
        margin-top: $size-components-margin;

    }

    .fa {
        display: block;
        @include adjust-font-size-to(60px);
        color: $color-pl-4;
        margin-bottom: $size-components-padding;
    }

    @include susy-breakpoint($screen-medium, 12){
        .feature {
            @include span(12/3);
            padding: 0 $size-components-padding;
        }
    }

}

#home-description {
    border-top: 1px solid $color-base-border;
}

.home-description-list {

    @extend %clearlist;

    li {
        display: block;
        @extend %clearfix;
        padding: $size-components-height 0;
        border-top: 1px dotted $color-base-border;

        &:first-child {
            padding-top: 0;
            border-top: none;
        }

        &:last-child {
            padding-bottom: 0;
        }

    }

    .area-img,
    .area-text {
        @include span(full);
    }

    .area-img {
        @extend %responsive-image;
        margin-bottom: $size-components-margin;
    }

    @include susy-breakpoint($screen-medium, 12){
        .area-img,
        .area-text {
            @include span(12/2);
        }

        .area-img {
            margin-bottom: none;
        }

        .area-text {
            @include prefix(0.5);
        }

        li:nth-child(even){
            .area-img {
                @include span(12/2 last);
            }
            .area-text {
                @include prefix(0);
                @include suffix(0.5);
            }
        }

    }

    @include susy-breakpoint($screen-big, 16){
        .area-img,
        .area-text {
            @include span(16/2);
        }

        .area-text {
            @include prefix(1);
        }

        li:nth-child(even){
            .area-img {
                @include span(16/2 last);
            }
            .area-text {
                @include prefix(0);
                @include suffix(1);
            }
        }
    }

}

#home-features {
    background: $color-grey-100;
}

.home-features-header {
    text-align: center;
}

.home-features-list {

    @extend %clearlist;
    @extend %clearfix;

    li {
        @include span(full);
        text-align: center;
        margin-bottom: $size-components-margin;

        &:hover {
            .fa {
                @include rotateY(360deg);
                color: $color-pl-5;
            }

            .title {
                color: $color-base-main;
            }
        }

    }


    .fa {
        display: block;
        @include adjust-font-size-to(60px);
        color: $color-pl-4;
        margin-bottom: $size-components-padding;
        @include transition(all 1s);
    }

    .text {
        margin-bottom: 0;
    }


    @include susy-breakpoint($screen-small, 8){
        li {
            @include span(8/2);
            margin-bottom: $size-components-height;
        }

        .text {
            height: rhythm(2);
            overflow: hidden;
        }

        .title {
            @include ellipsis;
        }

    }

    @include susy-breakpoint($screen-medium, 12){
        li {
            @include span(12/3);
        }
    }

    @include susy-breakpoint($screen-big, 16){
        li {
            @include span(16/4);
        }
    }

}

.home-features-button {
    text-align: center;
}

.home-shop-samples-header {
    text-align: center;
}

.home-shop-samples-list {
    @extend %clearlist;
    @extend %clearfix;

    li {
        @include span(full);
        background: $color-grey-400;
        margin-bottom: $size-components-margin;
    }

    .img-link {
        display: block;
        position: relative;
        padding-bottom: (4/3 * 100%);
        border: 1px solid $color-base-border;
        overflow: hidden;
        @include transition(all $time-std-transition);

        img {
            display: block;
            position: absolute;
            width: 100%;
            height: auto;
            min-height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
        }

        &:hover {
            @include scale(1.05);
            z-index: 2;
            border-color: $color-base-main;
        }

    }

    @include susy-breakpoint($screen-small, 8){
        li {
            @include span(8/2);
            margin-bottom: $size-components-height;
        }
    }

    @include susy-breakpoint($screen-medium, 12){
        li {
            @include span(12/3);
        }
    }

    @include susy-breakpoint($screen-big, 16){
        li {
            @include span(16/4);
        }
    }


}

.home-shop-samples-button {
    text-align: center;
}
