.pricing-page-plan {
    
    @include span(full);
    padding: $size-components-padding;
    text-align: center;
    background: $color-grey-100;
    margin-bottom: $size-components-margin;
    
    &:hover {
        background: $color-grey-200;
    }
    
    .title {
        display: block;
        @include adjust-font-size-to(36px);
        text-transform: uppercase;
        margin-bottom: $size-components-padding;
        color: $color-pl-3;
        font-weight: 300;
    }
    
    @include susy-breakpoint($screen-small, 8){
        @include span(full);
    }
    
    @include susy-breakpoint($screen-medium, 12){
        @include span(3 of 12);
    }
    
    @include susy-breakpoint($screen-big, 16){
        @include span(4 of 16);
    }
    
    
}

.pricing-page-plan-price-box {
    padding: $size-components-padding;
    background: rgba($color-pl-4, 0.1);
    font-size: 0;
    line-height: 0;
    margin-left: -($size-components-padding);
    margin-right: -($size-components-padding);
    margin-bottom: $size-components-padding;
    
    .value {
        display: block;
    }
    
    span {
        display: inline-block;
        vertical-align: top;
        height: rhythm(lines-for-font-size(50px));
        color: darken($color-pl-3, 30%);
    }
    
    .interger-value {
        @include adjust-font-size-to(50px);
    }
    
    .currency,
    .decimal-value{
        @include adjust-font-size-to(20px);
    }
    
    .currency {
        line-height: rhythm(lines-for-font-size(40px));
        margin-right: ($size-components-padding / 2);
    }
    
    .decimal-value {
        line-height: rhythm(lines-for-font-size(64px));
    }
    
    .period {
        display: block;
        @include adjust-font-size-to(16px);
        font-style: italic;
        color: $color-grey-600;
    }
    
}

.pricing-page-plan-feature-list {
    
    @extend %clearlist;
    margin: $size-components-padding 0;
    
    li {
        display: block;
        @include adjust-font-size-to(14px);
        border-top: 1px dotted $color-grey-400;
        padding: ($size-components-padding / 2);
        color: $color-grey-800;
        
        &:first-child {
            border: none;
        }
        
    }
    
}