.resources-page-nav {
    
    position: fixed;
    z-index: 996;
    background: rgba($color-grey-0, 0.9);
    bottom: 0;
    left: 0;
    width: 100%;
    height: $size-components-height;
    overflow: hidden;
    
    .bt-show {
        display: block;
        height: $size-components-height;
        line-height: $size-components-height;
        background: $color-pl-5;
        color: $color-grey-0;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
    }
    
    .resources-page-nav-mobile-header {
        display: none;
    }
    
    .resources-menu-active & {
        
        .resources-page-nav-mobile-header {
            display: block;
        }
        
        height: 100%;
        top: 0;
        padding-top: ($size-components-height + $size-components-padding);
        overflow: scroll;
        
        .bt-show {
            display: none;
        }
        
    }
    
    @include susy-breakpoint($screen-big, 16){
        position: static;
        @include span(5 of 16);
        height: auto;
        overflow: visible;
        padding-right: $size-components-height;
        
        .bt-show,
        .resources-menu-active {
            display: none;
        }
    }
    
}

.resources-page-nav-mobile-header {
    position: fixed;
    z-index: 997;
    top: 0;
    left: 0;
    width: 100%;
    height: $size-components-height;
    padding-right: $size-components-height;
    background: #399CB6;
    
    .title,
    .bt-close {
        display: block;
        height: $size-components-height;
        line-height: $size-components-height;
        color: $color-grey-0;
    }
    
    .title {
        @include ellipsis;
        padding: 0 $size-components-padding;
        text-transform: uppercase;
    }
    
    .bt-close {
        position: absolute;
        top: 0;
        right: 0;
        width: $size-components-height;
        font-size: 2rem;
        text-align: center;
        font-weight: bold;
    }
}

.resources-page-nav-list {
    
    @extend %clearlist;
    margin: 0 $size-components-margin;
    
    li {
        display: block;
        border-top: 1px dotted $color-grey-400;
        
        &:first-child {
            border-top: none;
        }
        
        &.active {
            a {
                font-weight: bold;
            }
        }
    }
    
    a {
        display: block;
        padding: $size-components-padding;
        color: $color-pl-3;
        
        &:hover {
            text-decoration: underline;
        }
    }
    
    @include susy-breakpoint($screen-big, 16){
        margin: 0;
    }
    
}

.resources-page-content {
    
    @include span(full);
    
    @include susy-breakpoint($screen-small, 8){
        @include span(full);
    }
    
    @include susy-breakpoint($screen-medium, 12){
        @include span(full);
    }
    
    @include susy-breakpoint($screen-big, 16){
        @include span(11 of 16);
    }
    
}