.sale-step {
  &__details {
    font-size: 14px;
    text-align: right;
  }

  &-progress {
    background: $color-grey-0;
    border-radius: 6px;
  }

  .progress-bar {
    height: 6px;
    border-radius: 6px;
    margin-top: 5px;
    background: $color-base-main;
  }

   @include susy-breakpoint($screen-big, 16){
    width: 200px;
    position: absolute;
    top: calc(50%);
    right: 0;
    transform:  translateY(-50%);
  }
}

.include-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  border: 1.5px dashed $color-base-main;
  height: $size-components-height;
  margin: $size-components-margin 0;

  border-radius: 3px;
  cursor: pointer;
}

#sales-page {
  @include susy-breakpoint($screen-big, 16) {
  }
}

.sales-products {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: $size-components-margin;
  margin-bottom: $size-components-margin;

  .product {
    position: relative;
    flex: 1 auto;
    width: calc(20% - 15px);
    padding: $size-components-margin;
    color: $color-grey-900;
    justify-content: center;
    align-self: center;
    background: $color-grey-0;
    border-radius: 2px;
    margin-left: $size-components-padding;
    text-align: center;
    align-self: stretch;
    font-weight: 700;
    transition: all 0.5s cubic-bezier(0, 0, 0, 1.21);
    z-index: 1;
    // color: $color-base-main;

    &:hover {
      // transform: scale(1.05);
      background: $color-grey-150;
      color: $color-grey-1000;
    }

    .fa,
    svg,
    img {
      display: block;
      flex-wrap: wrap;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: $size-components-padding;
    }

    .fa {
      font-size: 30px;
      color: $color-base-main;
    }

    &:first-child {
      margin-left: 0;
    }

    &-submenu {
      &:hover {
        .product-submenu-list {
          visibility: visible;
          opacity: 1;
          height: 100%;
        }
      }
    }

  }
}

.product-submenu-list {
  position: absolute;
  background: $color-grey-0;
  width: 100%;
  height: 0;
  left: 0;
  top: 110%;
  border-radius: 2px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);

  &::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -19px;
    right: 50%;
    transform: translateX(50%);
    border: solid;
    border-width: 10px 10px 10px 10px;
    border-color: transparent transparent #fff transparent;
  }

  li {
    display: block;
    border-top: 1px solid $color-grey-100;

    &:last-child {
      border-bottom: 0;
    }
  }

  a {
    display: block;
    @include adjust-font-size-to(16px);
    padding: $size-std-padding;
    color: $color-grey-1000;

    &:hover {
      text-decoration: underline;
      color: $color-base-main;
      background: $color-grey-50;
    }
  }
}

.sale-list {

  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $color-grey-0;
    padding: $size-std-padding 0;

    &:hover {
      background: $color-grey-50;
      color: $color-base-main;
    }

    &__text {
      margin-left: auto;

      &:first-child {
        margin-left: 0;
      }

      &:nth-child(1) {
        width: 30%;
      }

      &:nth-child(2),
      &:nth-child(3) {
        width: 12.5%;
      }

      &:nth-child(4) {
        width: 25%;
      }

      &:nth-child(5) {
        width: 10%;
      }
    }

    &__action {
      margin-left: auto;
      a {
        color: $color-grey-900;
        margin-left: $size-components-padding;
      }

      &-edit {
        color: $color-pl-5;
      }

      &-trash {
        color: $color-base-main;
      }
    }
  }

  &--services {
    .sale-list-item__text {
      &:nth-child(4) {
        width: 25%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &--small {
    .sale-list-item__text {
      width: auto;
      margin-right: auto;

      &:first-child {
        width: 48%;
      }

      &:nth-child(2) {
        width: 20%;
      }

      &:nth-child(3) {
        width: 3%;
      }
    }
  }
}

.payment-select {
  display: flex;
  justify-content: center;
  margin-bottom: $size-components-margin;
  margin-right: auto;
  margin-left: auto;
}

.payment-method {
  align-self: center;
  background: $color-grey-0;
  border-radius: 2px;
  color: $color-grey-900;
  flex: 1 auto;
  flex-direction: column;
  font-weight: 700;
  justify-content: space-between;
  margin-left: $size-components-margin;
  padding: $size-components-margin;
  text-align: center;
  transition: all 0.5s cubic-bezier(0, 0, 0, 1.21);

  &:hover {
    transform: scale(1.05);
    background: $color-grey-150;
    color: $color-grey-1000;
  }

  &:first-child {
    margin-left: 0;
  }
}

.sale-order {
  display: none;

  &__icon {
    display: block;
    background-image: url("/images/icon-pagamento-carrinho.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin-right: $size-components-padding;
    width: 100%;
    height: 48px;

    .n-itens {
      @include adjust-font-size-to(12px);
      align-items: center;
      // background: $color-grey-1000;
      background: $color-base-main;
      border-radius: 50%;
      color: $color-grey-0;
      display: flex;
      font-style: normal;
      font-weight: 700;
      text-align: center;
      position: relative;
      margin-left: auto;
      justify-content: center;
      right: -($size-std-padding);
      height: $size-std-padding * 2;
      width: $size-std-padding * 2;
    }
  }

  &__price {
    .currency {
      font-size: 14px;
      color: $color-grey-900;
      font-weight: 700;
    }

    .value {
      @include adjust-font-size-to(22px);
      // color: $color-base-success;
      color: $color-grey-900;
      font-weight: 700;
    }
  }

  @include susy-breakpoint($screen-big, 16) {
    display: flex;
    position: absolute;
    top: 50%;
    right: 250px;
    transform: translateY(-50%);
  }
}
