// //Global Variables
@import "config";

//Base stuff
@import "base/reset";
@import "base/typography";
//
// // Vendors and external stylesheets
// @import "vendors/fontawesome/font-awesome";
//
// // Sass utilities
@import "helpers/functions";
@import "helpers/mixins";
@import "helpers/placeholders";
@import "helpers/tools";

// //Layout related stylesheets
@import "layout/grids";
@import "layout/body";
@import "layout/content";
@import "layout/header";
@import "layout/menu";

// Components and modules
@import "components/text";
@import "components/buttons";
@import "components/boxes";
@import "components/breadcrumb";
@import "components/forms";
@import "components/feedback";
@import "components/widgets";
@import "components/tables";
@import "components/wizard-steps";
// @import "components/images";
// @import "components/modal";
// @import "components/loader";
// @import "components/mobile-zoom";

// // Page-specific stylesheets
// @import "pages/home";
// @import "pages/resources";
// @import "pages/pricing";
// @import "pages/contact";
// @import "pages/faq";
